// color
$dark: #333333;
$gray: rgba(255,255,255,0.4);
$green: #006b54;
$purple: #cbb6f2;
$light: #fef1e5;
$pink: #ffa4bc;
$yellow: #ffcc1a;
$red: #ff403d;
$blue: #1b66ce;

$white: #ffffff;
$black: #000000;

// font
$color-primary-text: #1d1d1f;
$color-primary-text-hover: #000;
$color-regular-text: #2c3e50;
$color-secondary-text: #6e6e73;

// 背景
$color-background-light-m:#fafafa;
$color-background-light: #f5f5f7;
$color-background-dark: rgba(255,255,255,0.92);

// border
$color-border: #d2d2d7;

// link
$color-link-line-regular-text: #424245;
$color-link-line-text: #0071e3;
$color-link-full-text: #ffffff;
// link background
$color-link-bg: #0071e3;
$color-link-bg--hover: rgb(0, 119, 237);

// line hight
$color-line-hight: #f56300;

// status
$color-success: $green;
$color-danger: $red;
$color-warning: $yellow;

// transition time
$transition-base-time: 0.25s;

// screen
$screen-xs: 460px;
$screen-sm: 768px;
$screen-md: 992px;
$screen-lg: 1280px;
$screen-xl: 1568px;