<template>
<div class="omkicah omkicah-layout relative">
    <Nav class="w-full absolute inset-x-0 z-20" />

    <transition name="okmicah-page">
        <router-view></router-view>
    </transition>

    <Footer />
</div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'
import Nav from './components/Nav.vue'
import Footer from '@/views/Okmicah/components/Footer.vue'

@Component({
  components: {
    Nav,
    Footer
  }
})
export default class OmkicahLayout extends Vue {
}
</script>

<style scoped>
</style>
<style lang="postcss" scoped>
@import './styles/index.css';
.omkicah-layout {
  font-weight: 400;
  color: var(--color-black);
  min-height: 100vh;
}
.okmicah-page-enter-active {
  transition: opacity .5s;
}
.okmicah-page-leave-active {
  transition: opacity 0s;
}
.okmicah-page-enter, .okmicah-page-leave-to {
  opacity: 0;
}
</style>
