<template>
<div class="okmicah-main h-full min-h-screen flex flex-col">
    <section class="banner flex flex-grow items-center relative min-h-screen h-full ">
        <div class="absolute left-0 top-0 w-1/2 h-full">
            <video
                muted
                autoplay
                loop
                playsinline
                data-wf-ignore="true"
                data-object-fit="cover"
                class="object-center object-cover w-full h-full"
            >
                <source
                    src="~@/assets/okmicah/animation-meta/video.mp4"
                    data-wf-ignore="true"
                >
            </video>
        </div>
        <div class="background"></div>
        <div class="max-w-screen-2xl mx-auto px-7 text-right z-10">
            <div class="sm:w-3/5 sm:ml-auto">
                <h1 class="heading-2">The design studio for brands who break the
                    <span
                        class="blue"
                    >b</span><span
                        class="yellow"
                    >i</span><span
                        class="green"
                    >n</span><span
                        class="pink"
                    >a</span><span
                        class="red"
                    >r</span><span
                        class="purple"
                    >y</span>
                </h1>
                <div class="paragraph">
                    <p>We get it, you're different...and so are we henny! The norm is overrated...amirite? We push innovation to the front of the line with our brand &amp; web design services. Let us change the game for your business &amp; kick those competitors to the back.
                    </p>
                </div>
                <div class="pb-7">
                    <LinkButton
                        :to="{name: 'OkmicahWorkWithUs'}"
                    >
                        work with us
                    </LinkButton>
                </div>
            </div>
        </div>
    </section>

    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Suscipit rerum omnis sed expedita? Accusamus maiores possimus corrupti? Iure recusandae voluptates voluptatem necessitatibus eaque autem veniam eum repellendus odit, dolores laboriosam?
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Suscipit rerum omnis sed expedita? Accusamus maiores possimus corrupti? Iure recusandae voluptates voluptatem necessitatibus eaque autem veniam eum repellendus odit, dolores laboriosam?
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Suscipit rerum omnis sed expedita? Accusamus maiores possimus corrupti? Iure recusandae voluptates voluptatem necessitatibus eaque autem veniam eum repellendus odit, dolores laboriosam?
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Suscipit rerum omnis sed expedita? Accusamus maiores possimus corrupti? Iure recusandae voluptates voluptatem necessitatibus eaque autem veniam eum repellendus odit, dolores laboriosam?
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Suscipit rerum omnis sed expedita? Accusamus maiores possimus corrupti? Iure recusandae voluptates voluptatem necessitatibus eaque autem veniam eum repellendus odit, dolores laboriosam?
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Suscipit rerum omnis sed expedita? Accusamus maiores possimus corrupti? Iure recusandae voluptates voluptatem necessitatibus eaque autem veniam eum repellendus odit, dolores laboriosam?
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Suscipit rerum omnis sed expedita? Accusamus maiores possimus corrupti? Iure recusandae voluptates voluptatem necessitatibus eaque autem veniam eum repellendus odit, dolores laboriosam?
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Suscipit rerum omnis sed expedita? Accusamus maiores possimus corrupti? Iure recusandae voluptates voluptatem necessitatibus eaque autem veniam eum repellendus odit, dolores laboriosam?
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Suscipit rerum omnis sed expedita? Accusamus maiores possimus corrupti? Iure recusandae voluptates voluptatem necessitatibus eaque autem veniam eum repellendus odit, dolores laboriosam?
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Suscipit rerum omnis sed expedita? Accusamus maiores possimus corrupti? Iure recusandae voluptates voluptatem necessitatibus eaque autem veniam eum repellendus odit, dolores laboriosam?
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Suscipit rerum omnis sed expedita? Accusamus maiores possimus corrupti? Iure recusandae voluptates voluptatem necessitatibus eaque autem veniam eum repellendus odit, dolores laboriosam?
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Suscipit rerum omnis sed expedita? Accusamus maiores possimus corrupti? Iure recusandae voluptates voluptatem necessitatibus eaque autem veniam eum repellendus odit, dolores laboriosam?
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Suscipit rerum omnis sed expedita? Accusamus maiores possimus corrupti? Iure recusandae voluptates voluptatem necessitatibus eaque autem veniam eum repellendus odit, dolores laboriosam?
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Suscipit rerum omnis sed expedita? Accusamus maiores possimus corrupti? Iure recusandae voluptates voluptatem necessitatibus eaque autem veniam eum repellendus odit, dolores laboriosam?
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Suscipit rerum omnis sed expedita? Accusamus maiores possimus corrupti? Iure recusandae voluptates voluptatem necessitatibus eaque autem veniam eum repellendus odit, dolores laboriosam?
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Suscipit rerum omnis sed expedita? Accusamus maiores possimus corrupti? Iure recusandae voluptates voluptatem necessitatibus eaque autem veniam eum repellendus odit, dolores laboriosam?
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Suscipit rerum omnis sed expedita? Accusamus maiores possimus corrupti? Iure recusandae voluptates voluptatem necessitatibus eaque autem veniam eum repellendus odit, dolores laboriosam?
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Suscipit rerum omnis sed expedita? Accusamus maiores possimus corrupti? Iure recusandae voluptates voluptatem necessitatibus eaque autem veniam eum repellendus odit, dolores laboriosam?
</div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'
import LinkButton from '@/views/Okmicah/components/LinkButton.vue'
@Component({
  components: {
    LinkButton
  }
})
export default class Okmicah extends Vue {
}
</script>

<style scoped>

.banner {
  @apply border-3 border-black;
  padding-top: 12rem;
}
.heading-2{
  @apply mb-5;
  font-size: 48px;
  line-height: 1;
  font-family: var(--font-sp);
  @screen sm {
    font-size: 4rem;
  }
  @screen lg {
    font-size: 6vw;
  }
  @screen 2xl {
    font-size: 7.9rem;
  }
}
.paragraph {
  @apply mb-7;
  font-weight: 500;
  line-height: 1.6;
  position: relative;
  @screen sm {
    font-size: 21px;
  }
  @screen lg {
    font-size: 2.1vw;
  }
  @screen 2xl {
    font-size: 1.25rem;
  }
}
.background {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-image: url('~@/assets/okmicah/pattern/img-banner-bg.svg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}
.purple {color: var(--color-purple)}
.green {color: var(--color-green)}
.pink {color: var(--color-pink)}
.yellow {color: var(--color-yellow)}
.red {color: var(--color-red)}
.blue {color: var(--color-blue)}
</style>
