<template>
<div class="OurStoryBanner border-b-3 border-black">
    <div class="2xl:container 2xl:m-auto g-container-padding md:flex md:justify-between">
        <div class="aspect-w-4 aspect-h-4 sm:aspect-w-12 sm:aspect-h-5 sm:mb-16 md:inline-block md:w-5/12 md:aspect-w-16 md:aspect-h-8">
            <img
                class="border-3 border-black object-cover rounded-3xl"
                src="~@/assets/okmicah/art/img-art-3.png"
            />
        </div>
        <div class="OurStoryBanner__content font-medium mt-10 mb-16 md:inline-block md:w-6/12">
            <h2 class="g-font-title-sp text-8xl sm:text-6xl mb-5 md:text-8xl md:mb-10">Best clients ever?</h2>
            <p class="text-lg mb-10 md:text-1-5xl">Absolutely. We love showing off. Check out a selection of projects we’ve been lucky enough to work on recently.</p>
        </div>
    </div>
</div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'

@Component
export default class OurStoryBanner extends Vue {
}
</script>

<style scoped>
.OurStoryBanner__content {
  padding-top: 15%;
}
</style>
