<template>
<div class="OurWork g-padding-nav">
    <Banner />
    <Qfa />
</div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'
import Banner from '@/views/Okmicah/views/OurWork/Banner.vue'
import Qfa from '@/views/Okmicah/views/OurWork/Qfa.vue'
@Component({
  components: {
    Banner,
    Qfa
  }
})
export default class OurWork extends Vue {
}
</script>

<style scoped>
</style>
