<template>
<div class="Qfa border-b-3 border-black">
    <div class="py-16 2xl:container 2xl:m-auto g-container-padding">
        <Collapse
            class="px-5 mb-5 border-3 border-black md:rounded-3xl lg:px-10 lg:mb-10"
            v-for="item of list"
            :key="item.title"
            @click="handlerIsShow"
            @changeIsShow="(isShow) => onChangeIsShow(isShow, item)"
        >
            <template #title>
                <div class="py-5 lg:py-10">
                    <div class="tag text-sm pb-6 font-medium lg:text-lg">
                        {{item.tag}}
                    </div>
                    <h3 class="g-font-title-sp text-5xl lg:text-6xl">
                        {{item.title}}
                    </h3>
                </div>
            </template>
            <template #icon>
                <div
                    class="collapse__icon"
                >
                    <IconArrowLong
                        class="w-full transition duration-500"
                        :class="[{ 'svg-transform': item.isShow }]"
                    ></IconArrowLong>
                </div>
            </template>

            <template #body>
                <div
                    class="qfa__item__main py-5 sm:flex sm:gap-10 lg:gap-14 lg:pb-10"
                    @click.stop
                >
                    <div
                        class="image aspect-w-5 aspect-h-6 border-3 border-black rounded-3xl sm:w-2/4 sm:aspect-w-2 sm:aspect-h-1 xl:aspect-w-9 xl:aspect-h-4"
                        :style="{
                            backgroundImage: `url(${item.image})`
                        }"
                    ></div>
                    <div class="pt-16 sm:w-2/4 lg:pt-2">
                        <div class="g-font-title text-3xl pb-6 lg:text-5xl xl:pb-12">{{item.subTitle}}</div>
                        <p class="pb-6 font-medium lg:text-1-5xl xl:pb-16 xl:text-2xl">{{item.paragraph}}</p>
                        <div class="pb-6">
                            <LinkButton

                                styleMode="down-block"
                                :to="item.routeTo"
                            >VIEW PROJECT</LinkButton>
                        </div>
                    </div>
                </div>
            </template>
        </Collapse>
    </div>
</div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'
import Collapse, { CollapseEmit } from '@/views/Okmicah/components/Collapse.vue'
import LinkButton from '@/views/Okmicah/components/LinkButton.vue'
import IconArrowLong from '@/views/Okmicah/components/Icons/IconArrowLong.vue'
import ImgClientWork1 from '@/assets/okmicah/client-work/img-client-work-1.png'
import ImgClientWork4 from '@/assets/okmicah/client-work/img-client-work-4.png'
import ImgClientWork5 from '@/assets/okmicah/client-work/img-client-work-5.png'

import type { Location } from 'vue-router'

interface List {
  isShow: boolean;
  tag: string;
  title: string;
  image: string;
  subTitle: string;
  paragraph: string;
  routeTo: Location;
}

@Component({
  components: {
    Collapse,
    IconArrowLong,
    ImgClientWork1,
    ImgClientWork4,
    ImgClientWork5,
    LinkButton
  }
})
export default class Qfa extends Vue {
  public isShow = false;
  public list: List[] = [
    {
      isShow: false,
      tag: 'Web Design | Shopify Development',
      title: 'Pound Cake Cosmetics',
      image: ImgClientWork1,
      subTitle: 'F*cking up the beauty industry one red lip at a time.',
      paragraph: 'What\'s better than a super f*cking cool website? A super f*cking cool website designed and built for a brand that is pro-fat, pro-queer, and pro-black! ✊🏾⁠ We are so proud of this project and absolutely loved collaborating with the Pound Cake team!',
      routeTo: { name: 'OkmicahOurWorkViews', params: { id: 'pound-cake-cosmetics' } }
    },
    {
      isShow: false,
      tag: 'Web Design | Webflow Development | Brand Photography',
      title: 'Yes, Chef!',
      image: ImgClientWork4,
      subTitle: 'Delicious designs for fresh food and beverage brands.',
      paragraph: 'This Los Angeles-based studio is changing the game with food and beverage design. We were lucky enough to bring their digital presence to life with a playful website to showcase their work.',
      routeTo: { name: 'OkmicahOurWorkViews', params: { id: 'yes-chef' } }
    },
    {
      isShow: false,
      tag: 'Web Design | Webflow Development',
      title: 'Fred & Co',
      image: ImgClientWork5,
      subTitle: 'Creating confident brands people want to know and love.',
      paragraph: 'This queer, woman-owned design studio needed a website to showcase its talents properly. There\'s nothing better than designing for queer businesses, and Fred & Co is no exception. We had so much fun designing their site and creating a new home for their work, services, and products.',
      routeTo: { name: 'OkmicahOurWorkViews', params: { id: 'fred-co' } }
    }
  ]

  public handlerIsShow (event: Event, { handlerIsShow }: CollapseEmit):void {
    handlerIsShow()
  }

  public onChangeIsShow (isShow: boolean, item: List):void {
    item.isShow = isShow
  }
}
</script>

<style lang="postcss" scoped>
.collapse {
  cursor: pointer;
}

.collapse__icon {
  @apply w-4;

  transition: transform 1s ease;
}
.svg-transform {
  transform: rotateX(180deg);
}
.qfa__item__main {
  cursor: default;
}
.image {
  background-size: cover;
  background-position: center center;
}
</style>
