<template>
<div class="WorkView g-padding-nav border-b-3 border-black">
    <div
        class="2xl:container 2xl:m-auto g-container-padding"
        v-if="work"
    >
        <button
            @click="back"
            class="py-5 flex items-center uppercase text-xl md:text-2xl lg:text-xl lg:pb-16"
        >
            <IconArrowLong class="w-4 origin-right transform rotate-90 mr-9 mt-3" /> back to all work
        </button>

        <div class="flex flex-col gap-14 md:gap-24 lg:flex-row lg:flex-wrap">
            <div class="aspect-w-3 aspect-h-2 lg:order-1 lg:w-7/12 lg:aspect-w-3 lg:aspect-h-1">
                <div
                    class="border-3 border-black rounded-3xl"
                    :class="[
                        work.bannerIframe ? 'image-scroll overflow-y-auto':  'overflow-hidden',
                    ]"
                >
                    <img
                        :src="work.bannerImage || work.bannerIframe"
                        :alt="work.title"
                    >
                </div>
            </div>
            <div>
                <h2 class="g-font-title-sp text-6xl pb-6 md:text-7xl lg:text-8xl">
                    {{work.title}}
                </h2>
                <p class="font-medium text-sm md:text-2xl md:leading-10 lg:w-10/12">
                    {{work.paragraph}}
                </p>
            </div>
            <div class="py-10 md:w-6/12 md:m-auto lg:order-1 lg:w-4/12 lg:max-w-md lg:mr-0">
                <SectionItem class="px-8 py-6 md:pt-12 lg:pb-10 lg:pt-12">
                    <template #title>
                        <HeadingNormal>
                            what we did
                        </HeadingNormal>
                    </template>
                    <ul class="flex flex-col gap-8 md:text-xl md:gap-5 lg:text-2xl lg:gap-8">
                        <li
                            class="flex items-center"
                            v-for="i of work.whatWeDid"
                            :key="i"
                        >
                            <component
                                :is='whatWeDid[i]'
                                class="w-8 mr-4"
                                :class="{purple: i === 1}"
                            />
                            {{whatWeDid.enum[i]}}
                        </li>
                    </ul>
                </SectionItem>
                <div class="text-center py-16">
                    <LinkButton
                        styleMode="down-block"
                    >visit live site</LinkButton>
                </div>
            </div>
        </div>

        <SectionItem class="p-8 md:pt-16 md:px-12 lg:px-16 lg:pb-12 lg:mt-36">
            <template #title>
                <HeadingNormal>
                    how we did it
                </HeadingNormal>
            </template>
            <p class="text-left md:text-1-5xl md:leading-9">
                {{work.howWeDidIt}}
            </p>
        </SectionItem>

        <ul class="photo py-16 flex flex-col gap-16 md:grid md:grid-cols-2 md:py-28">
            <li class="text-center">
                <img
                    class="border-3 border-black rounded-3xl w-3/4 inline-block md:w-full"
                    :src="work.images[0]"
                >
            </li>
            <li class="text-center">
                <img
                    class="border-3 border-black rounded-3xl w-3/4 inline-block md:w-full"
                    :src="work.images[1]"
                >
            </li>
            <li class="text-center md:col-span-2 md:my-8">
                <img
                    class="border-3 border-black rounded-3xl w-3/4 inline-block md:w-5/12"
                    :src="work.images[2]"
                >
            </li>
            <li class="text-center md:col-span-2  md:mt-8">
                <img
                    class="border-3 border-black rounded-3xl w-3/4 inline-block md:w-full"
                    :src="work.images[3]"
                >
            </li>
        </ul>
    </div>
</div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'
import HeadingNormal from '@/views/Okmicah/components/HeadingNormal.vue'
import LinkButton from '@/views/Okmicah/components/LinkButton.vue'
import SectionItem from '@/views/Okmicah/components/SectionItem.vue'
import IconFlowers0 from '@/views/Okmicah/components/Icons/IconFlowers0.vue'
import IconPattern3 from '@/views/Okmicah/components/Icons/IconPattern3.vue'
import IconPattern6 from '@/views/Okmicah/components/Icons/IconPattern6.vue'
import IconArrowLong from '@/views/Okmicah/components/Icons/IconArrowLong.vue'
import Work1 from './WorkViews/work-1'
import Work2 from './WorkViews/work-2'
import Work3 from './WorkViews/work-3'

import { WorkProp, WhatWeDid } from './WorkViews/type'

@Component({
  components: {
    IconArrowLong,
    LinkButton,
    SectionItem,
    IconFlowers0,
    IconPattern3,
    IconPattern6,
    HeadingNormal
  }
})
export default class WorkView extends Vue {
  public workList = {
    'pound-cake-cosmetics': Work1,
    'yes-chef': Work2,
    'fred-co': Work3
  };

  public whatWeDid = {
    enum: WhatWeDid,
    [WhatWeDid['Web Design']]: IconFlowers0,
    [WhatWeDid['Brand Photography']]: IconPattern6,
    [WhatWeDid['Shopify Development']]: IconPattern3
  }

  public work: WorkProp | null = null;

  public back ():void {
    this.$router.go(-1)
  }

  public mounted (): undefined {
    const { workList, $route, $router } = this
    type KEY = keyof typeof workList;
    const id = $route.params.id as KEY
    const work = workList[id]
    if (!work) {
      $router.push('/')
      return
    }
    this.work = work
  }
}
</script>

<style lang="postcss" scoped>
>>> .heading-normal {
  @apply text-2xl;
}
.image-scroll {
  &::-webkit-scrollbar {
    background-color: transparent;
    width: 2px;
    height: 2px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: var(--color-black);
    border-radius: 1rem;
  }

  &::-webkit-scrollbar-track {
    margin: 1rem;
  }
}
</style>
