<template>
<div class="c-watermark">
    watermark
</div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'
@Component
export default class Watermark extends Vue {
}
</script>

<style lang="scss">
.watermark {
  position: fixed;
  bottom: 0;
  left: 0;
}
</style>
