<template>
<div class="banner">
    <KinesisContainer class="2xl:container 2xl:m-auto g-container-padding flex">
        <div class="lg:w-7/12 xl:w-8/12 relative z-10">
            <div class="pb-20 xl:pb-52 pt-12">
                <h2 class="g-font-title-sp text-7xl xl:text-8xl 2xl:text-9xl pb-10">Are you ready to make this official?</h2>
                <p class="text-1-5xl lg:text-sm xl:text-xl 2xl:text-2xl">If you’re interested in working together, please fill out the application below! It’s short, sweet and to the point (you’re welcome). We’ll be in touch within 48 hours to let you know if we’re a good fit. Friendly reminder that we typically book 1-3 months in advance, so if you’ve got a tight deadline be sure to let us know!</p>
            </div>
            <div class="text-xl xl:text-2xl 2xl:text-3xl">
                SCROLL DOWN
                <IconArrowLong class="w-5 pt-4"></IconArrowLong>
            </div>
        </div>
        <KinesisPattern class="hidden lg:w-5/12 xl:w-4/12 relative lg:block"></KinesisPattern>
    </KinesisContainer>
</div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'
import KinesisPattern from '@/views/Okmicah/components/KinesisPattern.vue'
import { KinesisContainer } from 'vue-kinesis'
import IconArrowLong from '@/views/Okmicah/components/Icons/IconArrowLong.vue'

@Component({
  components: {
    KinesisContainer,
    KinesisPattern,
    IconArrowLong
  }
})
export default class Banner extends Vue {
}
</script>

<style scoped>
</style>
