<template>
<div class="WorkWithUs g-padding-nav">
    <Banner />
    <WorkForm />
</div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'
import Banner from '@/views/Okmicah/views/WorkWithUs/Banner.vue'
import WorkForm from '@/views/Okmicah/views/WorkWithUs/WorkForm.vue'
@Component({
  components: {
    Banner,
    WorkForm
  }
})
export default class WorkWithUs extends Vue {
}
</script>

<style scoped>
</style>
