<template>
<div class="WorkForm border-b-3 border-black g-bg-light relative z-10 py-16">
    <div class="2xl:container 2xl:m-auto g-container-padding">
        <SectionItem class="py-16 px-5 md:px-40 text-left">
            <template #title>
                <HeadingNormal>
                    The Application
                </HeadingNormal>
            </template>
            <div class="form text-left">
                <div
                    class="form-item-wrap flex gap-7"
                    v-for="(listitem,i) in formList"
                    :key="i"
                >
                    <FormItem
                        class="form-item"
                        v-for="item in listitem"
                        :key="item.label"
                        :style="{width:item.width || '100%'}"
                        :tag="item.tag"
                        :type="item.type"
                        :label="item.label"
                        :options="item.options"
                    >
                    </FormItem>
                </div>
                <div class="text-center">
                    <LinkButton>SEND</LinkButton>
                </div>
            </div>

        </SectionItem>
    </div>
</div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'
import SectionItem from '@/views/Okmicah/components/SectionItem.vue'
import HeadingNormal from '@/views/Okmicah/components/HeadingNormal.vue'
import FormItem from '@/views/Okmicah/components/FormItem.vue'
import LinkButton from '@/views/Okmicah/components/LinkButton.vue'
@Component({
  components: {
    SectionItem,
    HeadingNormal,
    FormItem,
    LinkButton
  }
})
export default class WorkForm extends Vue {
  public formList = [
    [
      {
        tag: 'input',
        type: 'text',
        label: 'FIRST NAME',
        width: '60%',
        valid: (): boolean => false,
        required: true
      },
      {
        tag: 'input',
        type: 'text',
        label: 'LAST NAME',
        width: '40%',
        valid: (): boolean => false,
        required: true
      }
    ],
    [
      {
        tag: 'select',
        label: 'HOW DID YOU HEAR ABOUT US?',
        valid: (): boolean => false,
        options: [
          { value: 1, label: 'option 1' },
          { value: 2, label: 'option 2' },
          { value: 3, label: 'option 3' },
          { value: 4, label: 'option 4' }
        ]
      }
    ],
    [
      {
        tag: 'textarea',
        label: 'SPILL THE TEA ON YOUR BUSINESS. WHAT DO YOU DO? WHAT\'S YOUR MISSION? ',
        valid: (): boolean => false
      }
    ],
    [
      {
        tag: 'input',
        type: 'date',
        label: 'WHEN ARE YOU HOPING TO HAVE THIS PROJECT LAUNCHED? (IF YOU\'RE NOT EXACTLY SURE, JUST PUT AN ESTIMATED DATE)',
        valid: (): boolean => false
      }
    ],
    [
      {
        tag: 'checkbox',
        label: 'WHICH PACKAGE ARE YOU INTERESTED IN WORKING WITH US ON? PLEASE SELECT ALL THAT APPLY.',
        valid: (): boolean => false,
        options: [
          { value: 1, label: 'THE WEBSITE PACKAGE' },
          { value: 2, label: 'THE E-COMMERCE PACKAGE' },
          { value: 3, label: 'THE BRANDING PACKAGE' }
        ]
      }
    ]
  ]
}
</script>

<style scoped>
.form-item {
  @apply pb-8;
}
</style>
