@import url('https://fonts.googleapis.com/css2?family=Reem+Kufi:wght@500&display=swap');

* {
  /* outline: 1px solid red; */
}

:root {
  --color-dark: #333333;
  --color-gray: rgba(255, 255, 255, 0.4);
  --color-green: #006b54;
  --color-purple: #cbb6f2;
  --color-light: #fef1e5;
  --color-pink: #ffa4bc;
  --color-yellow: #ffcc1a;
  --color-red: #ff403d;
  --color-blue: #1b66ce;

  --color-white: #ffffff;
  --color-black: #000000;

  --font-def: sans-serif;
  --font-normal: quasimoda, var(--font-def);
  --font-sp: "NeueWorld-Regular",  var(--font-def);
  --font-link: "Scouts-Hand",  var(--font-def);
  --font-title: "Scouts-Hand",  var(--font-def);

  --nav-height: 12rem;
}

@font-face{
  font-family: quasimoda;
  src:url('./font/Quasimoda-Light.woff') format("woff");
  font-weight:300;
  font-style:normal;
  font-stretch:normal;
  font-display:auto;
}
@font-face {
  font-family: quasimoda;
  src: url("./font/Quasimoda-Regular.woff") format("woff");
  font-weight:400;
  font-display:auto;
}

@font-face{
  font-family: quasimoda;
  src:url('./font/Quasimoda-Medium.woff') format("woff");
  font-weight:500;
  font-display:auto;
}

@font-face{
  font-family: quasimoda;
  src:url('./font/Quasimoda-Bold.woff') format("woff");
  font-weight:700;
  font-display:auto;
}
@font-face {
  font-family: "NeueWorld-Regular";
  src: url("./font/NeueWorld-Regular.woff") format("woff");
  font-weight: 400;
  font-display: block;
}
@font-face {
  font-family: "Scouts-Hand";
  src: url("./font/Scouts-Hand.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: block;
}
html,body {
  background-color: var(--color-light);
  font-family: var(--font-normal);
}
html {
  @screen max-sm {
    font-size: 14px
  }
}

.white {color: var(--color-white)}
.black {color: var(--color-black)}
.purple {color: var(--color-purple)}
.green {color: var(--color-green)}
.pink {color: var(--color-pink)}
.yellow {color: var(--color-yellow)}
.red {color: var(--color-red)}
.blue {color: var(--color-blue)}

.g-bg-white {background-color: var(--color-white)}
.g-bg-black {background-color: var(--color-black)}
.g-bg-purple {background-color: var(--color-purple)}
.g-bg-green {background-color: var(--color-green)}
.g-bg-pink {background-color: var(--color-pink)}
.g-bg-yellow {background-color: var(--color-yellow)}
.g-bg-red {background-color: var(--color-red)}
.g-bg-blue {background-color: var(--color-blue)}
.g-bg-light {background-color: var(--color-light)}

.g-font-title-sp {
  font-family: var(--font-sp)
}
.g-font-title {
  font-family: var(--font-title)
}
.g-font-link {
  font-family: var(--font-link)
}
.g-padding-nav {
  padding-top: var(--nav-height);
}
.g-container-padding {
  @apply px-5 md:px-10;
}
.heading {
  @apply inline-block w-auto font-bold tracking-wide uppercase rounded-3xl;
  font-family: var(--font-title)
}
