// @import '@/styles/config/_index.scss';

$dark: #333333;
$gray: rgba(255,255,255,0.4);
$green: #006b54;
$purple: #cbb6f2;
$light: #fef1e5;
$pink: #ffa4bc;
$yellow: #ffcc1a;
$red: #ff403d;
$blue: #1b66ce;

$white: #ffffff;
$black: #000000;
