@import './config/_index';

html,body {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #2c3e50;
    margin: 0;
}

h1,h2,h3,h4,h5,h6 {
    display: inline-block;
    width: 100%;
    margin: 0;
}
p {
    margin: 0;
}

img {
    width: 100%;
    vertical-align: middle;
}

a {
    display: inline-block;
    color: inherit;
    cursor: pointer;
    text-decoration: none;
}
picture {
    display: inline-block;
}

.base-layout {
    width: 100%;
    max-width: $screen-xs;
    margin: auto;
    box-sizing: border-box;
    @media screen and (min-width: $screen-sm) {
        max-width: $screen-sm;
    }
    @media screen and (min-width: $screen-md) {
        max-width: $screen-md;
    }
    @media screen and (min-width: $screen-lg) {
        max-width: $screen-lg;
    }
    @media screen and (min-width: $screen-xl) {
        max-width: $screen-xl;
    }
}
.base-layout-padding {
    padding: 20px;
    @media screen and (min-width: $screen-lg) {
        padding: 40px;
    }
}