<template>
<div class="ServicesBanner border-b-3 border-black relative overflow-hidden pb-16">
    <div class="w-screen absolute right-0 bottom-0 transform translate-x-2/4 translate-y-2/4">
        <IconFlowers0 class="w-full yellow" />
    </div>
    <div class="relative g-container-padding mb-5 md:mb-10 lg:flex lg:justify-between lg:mb-16 2xl:container 2xl:m-auto">
        <div class="max-lg:hidden aspect-w-4 aspect-h-4 lg:inline-block lg:w-5/12 lg:aspect-w-16 lg:aspect-h-8">
            <img
                class="border-3 border-black object-cover rounded-3xl"
                src="~@/assets/okmicah/art/img-art-4.png"
            />
        </div>
        <div class="OurStoryBanner__content font-medium lg:mt-10 lg:inline-block lg:w-6/12">
            <h2 class="g-font-title-sp text-8xl mb-5 sm:text-6xl md:text-8xl ">So like what do y'all do?</h2>
            <p class="text-lg mb-10 md:text-1-5xl">
                First things first, we’re so happy to have you here. OK Micah is a branding and web design studio, but we know that’s just the tip of the iceberg (don’t let go, Jack). It is our mission to help individuals and businesses alike develop both a strong brand identity and online presence. We use our extensive design and development skills to ensure you’ll receive the attention you deserve from your target audience.
            </p>
            <LinkButton styleMode="down-block">
                explore our services
            </LinkButton>
        </div>
    </div>
</div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'
import LinkButton from '@/views/Okmicah/components/LinkButton.vue'
import IconFlowers0 from '@/views/Okmicah/components/Icons/IconFlowers0.vue'
@Component({
  components: {
    LinkButton,
    IconFlowers0
  }
})
export default class ServicesBanner extends Vue {
}
</script>

<style scoped>
.OurStoryBanner__content {
  @screen lg {
    padding-top: 15%;
  }
}
</style>
