<template>
<div class="Services">
    <Banner class="g-padding-nav" />
    <WhyUs />
    <OurServices />
    <SubscriptionForm />
    <Qfa />
    <Impression />
</div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'
import Banner from '@/views/Okmicah/views/Services/Banner.vue'
import WhyUs from '@/views/Okmicah/views/Services/WhyUs.vue'
import OurServices from '@/views/Okmicah/views/Services/OurServices.vue'
import SubscriptionForm from '@/views/Okmicah/views/Main/SubscriptionForm.vue'
import Impression from '@/views/Okmicah/components/Impression.vue'
import Qfa from '@/views/Okmicah/views/Services/Qfa.vue'
@Component({
  components: {
    Banner,
    WhyUs,
    OurServices,
    SubscriptionForm,
    Impression,
    Qfa
  }
})
export default class Services extends Vue {
}
</script>

<style scoped>
.impression {
  background-color: var(--color-green);
}
</style>
