<template>
<div class="OurServices g-container-padding g-bg-blue py-16 lg:py-24">
    <SectionItem class="g-bg-light p-12 py-16 xl:py-24 xl:p-20 2xl:container 2xl:m-auto">
        <template #title>
            <HeadingNormal>
                our services
            </HeadingNormal>
        </template>
        <SectionItem class="OurServices__content overflow-hidden">
            <h2 class="OurServices__title g-font-title-sp g-bg-pink">The Website Package</h2>
            <ListItem title="WHAT'S INCLUDED">
                <Item
                    v-for="(list, i) in includedFormat.Section1"
                    :key="i"
                    :data="list"
                    class="flex flex-col mr-12"
                >
                    <div
                        v-if="i === 1"
                        class="flex-1 flex items-end"
                    >Includes one concept and two rounds of revisions.</div>
                </Item>
                <template #other>
                    <div class="max-lg:hidden h-0">
                        <HeadingNormal
                            class="section1-link-right-top section-link"
                            bgColor="yellow"
                            textColor="black"
                        >
                            work with us
                        </HeadingNormal>
                    </div>
                </template>
            </ListItem>

            <ListItem title="TIMELINE: 6 - 8 WEEKS">
                <div class="flex flex-wrap w-full">
                    <Item
                        v-for="(item, j) in timeListFormat.Section1"
                        :key="j"
                        :data="item"
                        :class="[ j % 2 !== 0 ? 'order-1' : '']"
                        class="lg:w-2/6 lg:inline-block lg:pr-1.5"
                    >
                    </Item>
                </div>
            </ListItem>
        </SectionItem>

        <SectionItem class="OurServices__content overflow-hidden">
            <h2 class="OurServices__title g-font-title-sp g-bg-purple">The E-Commerce Package</h2>
            <ListItem title="WHAT'S INCLUDED">
                <Item
                    v-for="(list, i) in includedFormat.Section2"
                    :key="i"
                    :data="list"
                    class="flex flex-col mr-12"
                >
                    <div
                        v-if="i === 1"
                        class="flex-1 flex items-end pt-4"
                    >Includes one concept and two rounds of revisions.</div>
                </Item>
                <template #other>
                    <div class="max-lg:hidden h-0">
                        <HeadingNormal
                            class="section-link-right-center10 section-link"
                            bgColor="blue"
                            textColor="white"
                        >
                            start your project
                        </HeadingNormal>
                    </div>
                </template>
            </ListItem>

            <ListItem title="TIMELINE: 6 - 8 WEEKS">
                <div class="flex flex-wrap w-full">
                    <Item
                        v-for="(item, j) in timeListFormat.Section2"
                        :key="j"
                        :data="item"
                        :class="[ j % 2 !== 0 ? 'order-1' : '']"
                        class="lg:w-2/6 lg:inline-block lg:pr-1.5"
                    >
                    </Item>
                </div>
            </ListItem>
        </SectionItem>

        <SectionItem class="OurServices__content overflow-hidden">
            <h2 class="OurServices__title g-font-title-sp g-bg-yellow">The Branding Package</h2>
            <ListItem title="WHAT'S INCLUDED">
                <Item
                    v-for="(list, i) in includedFormat.Section3"
                    :key="i"
                    :data="list"
                    class="flex flex-col mr-12"
                >
                </Item>
                <div class="w-full">Includes one concept and two rounds of revisions.</div>

                <template #other>
                    <div class="max-lg:hidden h-0">
                        <HeadingNormal
                            class="section-link-right-center-10 section-link"
                            bgColor="green"
                            textColor="white"
                        >
                            let's do this
                        </HeadingNormal>
                    </div>
                </template>
            </ListItem>

            <ListItem title="TIMELINE: 4 - 5 WEEKS">
                <div class="flex flex-wrap w-full">
                    <Item
                        v-for="(item, j) in timeListFormat.Section3"
                        :key="j"
                        :data="item"
                        :class="[ j % 2 !== 0 ? 'order-1' : '']"
                        class="lg:w-2/6 lg:inline-block lg:pr-1.5"
                    >
                    </Item>
                </div>
            </ListItem>
        </SectionItem>

        <SectionItem class="OurServices__content overflow-hidden">
            <h2 class="OurServices__title g-font-title-sp g-bg-yellow">À La Carte</h2>

            <ListItem>
                <p class="text-left">
                    In addition to full packages, we offer supplementary design work to suit your needs. If you’re looking for something not listed below, please contact us and we can give you a quote!
                </p>
                <Item
                    v-for="(list, i) in includedFormat.Section4"
                    :key="i"
                    :data="list"
                    class="flex flex-col mr-12"
                >
                    <template
                        #header
                    >
                        <h2 v-if="i === 0">Digital Design —</h2>
                        <h2 v-if="i === 1">Print Design —</h2>
                    </template>
                </Item>
                <div class="w-full">Includes one concept and two rounds of revisions.</div>

                <template #other>
                    <div class="max-lg:hidden h-0">
                        <HeadingNormal
                            class="section-link-right-center10 section-link"
                            bgColor="blue"
                            textColor="white"
                        >
                            get a quote
                        </HeadingNormal>
                    </div>
                </template>
            </ListItem>

            <ListItem title="RETAINERS">
                <p>
                    We offer monthly retainers for clients who have worked with us before or as an add-on to branding packages. Retainers are great because they give you a discount on hourly rates, priority turnaround times, and reserved hours per month. If this is something you are interested in, please reach out and we can send over a proposal.
                </p>
            </ListItem>
        </SectionItem>
    </SectionItem>
</div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'
import SectionItem from '@/views/Okmicah/components/SectionItem.vue'
import HeadingNormal from '@/views/Okmicah/components/HeadingNormal.vue'
import ListItem from '@/views/Okmicah/components/ListItem.vue'
import Item from '@/views/Okmicah/components/Item.vue'

type SectionKeys = 'Section1' | 'Section2' | 'Section3' | 'Section4'

type SectionData<T> = {
  [key in SectionKeys]: T
}

@Component({
  components: {
    SectionItem,
    HeadingNormal,
    ListItem,
    Item
  }
})
export default class OurServices extends Vue {
  public IncludedType: {[key: number]: string} = {
    1: 'Seven (7) Page Custom Webflow Site',
    2: 'Custom CSS & JavaScript',
    3: 'Designed & Built for SEO',
    4: 'Optimized for All Devices',
    5: 'Website Training',
    6: 'Copy Writing for Site Sections',
    7: 'Creative Direction for Photography',
    8: 'Color Palette Optimized for Accessibility',
    9: 'Link In Bio Page',
    10: 'Primary Logo',
    11: 'Secondary Logo',
    12: 'Logo-mark',
    13: 'Color Palette',
    14: 'Typography Suite',
    15: 'Launch Graphics',
    16: 'Brand Guidelines',
    17: 'Animations & Gifs',
    18: 'Landing Pages',
    19: 'Instagram Templates',
    20: 'YouTube Thumbnail Design',
    21: 'PDF Guide',
    22: 'Business Card Design',
    23: 'Merchandise Design',
    24: 'Packaging Design',
    25: 'Poster Design',
    26: 'Interior or Exterior Signage'
  };

  public includedData: SectionData<number[][]> = {
    Section1: [
      [1, 2, 3, 4, 5, 6],
      [7, 8, 9]
    ],
    Section2: [
      [1, 2, 3, 4, 5, 6],
      [7, 8, 9]
    ],
    Section3: [
      [10, 11, 12, 13],
      [14, 15, 16]
    ],
    Section4: [
      [17, 18, 19, 20, 21],
      [22, 23, 24, 25, 26]
    ]
  }

  public TimeListType: {[key: number]: string} = {
    1: 'Research, strategy & style design',
    2: 'Wireframing',
    3: 'Wireframing (continued)',
    4: 'Development',
    5: 'Testing & Bug Fixes',
    6: 'Website Launch!',
    7: 'Initial concept',
    8: 'Feeback & Revisions',
    9: 'Finalized Concept',
    10: 'Brand Launch!'
  }

  public timeListData: SectionData<number[]> = {
    Section1: [1, 2, 3, 4, 5, 6],
    Section2: [1, 2, 3, 4, 5, 6],
    Section3: [1, 7, 8, 9, 10],
    Section4: [1, 7, 8, 9, 10]
  }

  public includedFormat: Partial<SectionData<string[][]>> = {}
  public timeListFormat: Partial<SectionData<string[]>> = {}

  public created (): void {
    const includedKeys = Object.keys(this.includedData)
    for (const key of includedKeys) {
      const KEY = key as SectionKeys
      this.includedFormat[KEY] = this.includedData[KEY].map((item: number[]) => {
        return item.map((typeIndex: number) => `+ ${this.IncludedType[typeIndex]}`)
      })
    }

    const timeListKeys = Object.keys(this.timeListData)
    for (const key of timeListKeys) {
      const KEY = key as SectionKeys
      this.timeListFormat[KEY] = this.timeListData[KEY].map((typeIndex: number, i: number) => {
        return `Week ${i + 1}: ${this.TimeListType[typeIndex]}`
      })
    }
  }
}
</script>

<style lang="postcss" scoped>
* {
  /* outline: 1px solid red; */
}
.OurServices__content + .OurServices__content {
  @apply mt-16
}
>>> .OurServices__content {
  .section-item {
    @apply rounded-2xl;
  }
  .section-link {
    @apply text-base pt-1 pb-0 px-3 border-3 border-black text-center lg:text-sm xl:text-xl 2xl:text-1-5xl;
    font-family: inherit;
  }
  .section1-link-right-top {
    transform: rotate(10deg) translate(33rem, -14rem);
    @screen xl {
      transform: rotate(10deg) translate(43rem, -18rem);
    }
    @screen 2xl {
      transform: rotate(10deg) translate(45rem, -20rem);
    }
  }
  .section-link-right-center10 {
    transform: rotate(-10deg) translate(32rem, 8rem);
    @screen xl {
      transform: rotate(-10deg) translate(45rem, 10rem);
    }
  }
  .section-link-right-center-10 {
    transform: rotate(10deg) translate(26rem, -6rem);
    @screen xl {
      transform: rotate(10deg) translate(35rem, -10rem);
    }
  }
  .c-list-item {
    @apply xl:px-11 xl:py-14;
  }
  .c-list-item + .c-list-item {
    @apply border-t-3 border-black;
  }
  .c-item {
    line-height: 1.6;
  }
}
.OurServices__title {
  @apply text-5xl p-6 pt-8 border-b-3 border-black md:text-left md:pr-44 lg:px-11;
}
</style>
