<template>
<div class="Qfa border-b-3 border-black">
    <div class="2xl:container 2xl:m-auto g-container-padding">
        <h2 class="g-font-title-sp text-8xl pb-8">Any Questions?</h2>
        <div class="pb-16">
            <Collapse
                class="border-b-3 border-black"
                v-for="item of list"
                :key="item.title"
            >
                <template #title>
                    <h3 class="font-medium text-2xl pb-2 pt-3">
                        {{item.title}}
                    </h3>
                </template>

                <template #body>
                    <p
                        class="pb-5 text-xl"
                        v-html="item.render ? item.render(item.paragraph, item.replace) : item.paragraph"
                    />
                </template>
            </Collapse>
        </div>
        <div class="text-center">
            <h3 class="g-font-title text-5xl pb-8">
                Have more questions?
            </h3>
            <p class="text-1-5xl pb-8">
                Just reach out, we’re always around to answer any questions.
            </p>
            <LinkButton styleMode="down-block">CONTACT US</LinkButton>
        </div>
    </div>
</div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'
import Collapse, { CollapseEmit } from '@/views/Okmicah/components/Collapse.vue'
import LinkButton from '@/views/Okmicah/components/LinkButton.vue'
import type { Location } from 'vue-router'

interface List {
  title: string;
  paragraph: string;
  routeTo?: Location;
  replace?: {[key:string]: string};
  render?: (text: string, replace: List['replace']) => string;
}

@Component({
  components: {
    Collapse,
    LinkButton
  }
})
export default class Qfa extends Vue {
  public isShow = false;
  public list: List[] = [
    {
      title: 'Are your packages customizable?',
      paragraph: 'Looking for something more custom? Send us an email detailing what it is you\'re looking for and we\'d be more than happy to put together a custom package tailor made for you and your business.'
    },
    {
      title: 'I’m so ready! How do we get started?',
      paragraph: 'YASS! We can\'t wait to hear from you! Please fill out the {{routeText}} and you\'ll hear from us within 48 hours. If we feel like we\'re a match, we will set up a complimentary 30-minute Discovery Call to discuss your project and answer any questions you may have.',
      routeTo: { name: 'OkmicahOurWorkViews', params: { id: 'yes-chef' } },
      replace: {
        routeText: '<span class="route underline">application form</span>'
      },
      render: (text: string, replace: List['replace']):string => {
        const match = text.match(/\{\{.*?\}?\}/g)
        if (!match) return text
        if (!replace) return text

        for (const item of match) {
          text = text.replace(item, ($1) => {
            const key = $1.replace(/\{\{(.*)\}\}/, '$1')
            const value = replace[key]
            return (value && text.replace($1, value)) || item
          })
        }
        return text
      }
    },
    {
      title: 'Fred & Co',
      paragraph: 'This queer, woman-owned design studio needed a website to showcase its talents properly. There\'s nothing better than designing for queer businesses, and Fred & Co is no exception. We had so much fun designing their site and creating a new home for their work, services, and products.'
    }
  ]

  public handlerIsShow (event: Event, { handlerIsShow }: CollapseEmit):void {
    handlerIsShow()
  }
}
</script>

<style lang="postcss" scoped>
* {
  /* outline: 1px solid red; */
}
.collapse {
  &:first-child {
    @apply border-t-3;
  }
  >>> .collapse__header__icon {
    order: -1;
  }
}

.Qfa {
  &:before {
    content: '';
    background-image: url('~@/assets/okmicah/pattern/icon-waves.svg');
    background-position: center top;
    background-size: 100vw;
    background-repeat: no-repeat;
    display: block;
    padding-bottom: 10%;
    filter: hue-rotate(180deg) brightness(2.5);
  }
  &:after {
    content: '';
    background-image: url('~@/assets/okmicah/pattern/icon-waves.svg');
    background-position: center top;
    background-size: 100vw;
    background-repeat: no-repeat;
    display: block;
    padding-bottom: 10%;
    transform: rotate(180deg) translateY(-1px);
    filter: hue-rotate(180deg) brightness(2.5);
  }
}
</style>
