<template>
<div class="WhyUs border-b-3 border-black">
    <div class="2xl:container 2xl:m-auto g-container-padding py-16">
        <h2 class="w-6/6 pb-20 xl:w-10/12">
            <img
                class="w-full"
                src="~@/assets/okmicah/functional/img-why-us.svg"
                alt="why us"
            >
        </h2>
        <div class="lg:w-6/12 lg:float-right xl:w-6/12">
            <div class="text-right overflow-hidden m-auto md:w-10/12">
                <div class="inline-block text-center">
                    <div class="item item-left relative flex items-center justify-center">
                        <IconFlowers0 class="flower pink absolute inset-0" />
                        <h3 class="item-text g-font-title relative flex justify-center w-4/12 text-xl sm:text-3xl lg:text-1-5xl xl:text-3xl">
                            Our 1:1 Client Experience
                        </h3>
                    </div>
                </div>
            </div>

            <div class="text-left overflow-hidden m-auto md:w-10/12">
                <div class="inline-block text-center">
                    <div class="item item-left relative flex items-center justify-center">
                        <IconFlowers0 class="flower purple absolute inset-0" />
                        <h3 class="item-text g-font-title relative flex justify-center w-4/12 text-xl sm:text-3xl lg:text-1-5xl xl:text-3xl">
                            Our Strategic Approach
                        </h3>
                    </div>
                </div>
            </div>

            <div class="text-right overflow-hidden m-auto md:w-10/12 md:relative md:-top-14">
                <div class="inline-block text-center">
                    <div class="item item-right relative flex items-center justify-center">
                        <IconFlowers0 class="flower yellow absolute inset-0" />
                        <h3 class="item-text g-font-title relative flex justify-center w-4/12 text-xl sm:text-3xl lg:text-1-5xl xl:text-3xl">
                            Our Collaborative Process
                        </h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="inline-block text-1-5xl !leading-8 py-5 lg:w-5/12 lg:float-left lg:text-base xl:text-1-5xl xl:w-5/12">
            <p class="pb-10">Our approach always starts with the “WHY” to pinpoint the details about your business - a deep dive into what sets you apart - and how we can transform that into an experience for prospective customers. By focusing on what your business looks AND feels like, we can convert intrigue into sales and allow you to build a loyal customer base along the way.</p>
            <p class="pb-10">If you’ve seen our work, you may have noticed that we understand the impact of high-quality branding and design. We want your business to turn heads, really grab customers by the eyes, hearts & wallets. Lucky for you, leaving competitors feeling envious comes at no extra charge.</p>
            <p class="pb-10">The best part? Working with us is a breeze! This is about YOU, so you should be a part of the process. Don’t worry, we’re still doing all the hard work - but you’ll have a front row seat.</p>
        </div>
        <div class="clear-both"></div>
    </div>

</div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'
import IconFlowers0 from '@/views/Okmicah/components/Icons/IconFlowers0.vue'
@Component({
  components: {
    IconFlowers0
  }
})
export default class WhyUs extends Vue {
}
</script>

<style lang="postcss" scoped>
* {
  /* outline: 1px solid red; */
}
.flower {
  stroke-width: 8px;
  stroke: black;
}
.item {
  padding: 20% 0;
  &-right {
    right: -10%;
  }
  &-left {
    left: -10%;
  }
}
</style>
