<template>
<div class="OurStoryBanner border-b-3 border-black">
    <div class="2xl:container 2xl:m-auto px-5 md:px-10 lg:flex lg:justify-between">
        <div class="aspect-w-16 aspect-h-9 2xl:aspect-h-7 mb-16 lg:inline-block lg:w-5/12">
            <img
                class="border-3 border-black object-cover"
                src="~@/assets/okmicah/art/img-art-2.png"
            />
        </div>
        <div class="lg:inline-block font-medium mt-10 mb-16 lg:w-6/12">
            <h2 class="g-font-title-sp text-8xl mb-10">Hello, hello, hello!</h2>
            <p class="text-1-5xl mb-10">First of all, thank you for being curious/caring enough to learn more about our studio. Here at OK Micah, it’s our mission to create an inclusive and encouraging community. That means no gatekeeping or typical snobby agency attitude.</p>
            <p class="text-1-5xl mb-10">We offer strategic guidance, standout websites, iconic branding, and a respectful creative voice used to empower queer-led businesses. Join us in our efforts to demistify and demasculinize the process of design. Sounds fun, right?</p>
        </div>
    </div>
</div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'

@Component
export default class OurStoryBanner extends Vue {
}
</script>

<style scoped>
</style>
