<template>
<div class="our-story g-padding-nav">
    <Banner />
    <Team />
    <OurValue class="border-b-3 border-black pb-10 md:pb-16">
        <template #footer>
            <div>
                <LinkButton
                    :to="{name: 'OkmicahOurWork'}"
                    styleMode="down-block"
                    class="uppercase"
                >work with us</LinkButton>
            </div>
        </template>
    </OurValue>

    <Impression></Impression>
</div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'
import Banner from '@/views/Okmicah/views/OurStory/Banner.vue'
import Team from '@/views/Okmicah/views/OurStory/Team.vue'
import OurValue from '@/views/Okmicah/components/OurValue.vue'
import LinkButton from '@/views/Okmicah/components/LinkButton.vue'
import Impression from '@/views/Okmicah/components/Impression.vue'
@Component({
  components: {
    Banner,
    Team,
    OurValue,
    LinkButton,
    Impression
  }
})
export default class OurStory extends Vue {
}
</script>

<style lang="postcss" scoped>
.our-story {
  >>> .our-value__title {
    @apply py-8 text-2xl font-bold
  }
  >>> .our-value__item {
    padding-top: 16px;
    font-size: 48px;
  }
  >>> .impression {
    background-color: var(--color-blue);
  }
  @screen lg {
    >>> .our-value__title {
      @apply py-16 text-4xl
    }
    >>> .our-value__item {
      padding-top: 2.5rem;
      font-size: 8.5rem;
    }
    >>> .our-value__paragraph {
      @apply text-1-5xl;
    }
  }
}
</style>
