<template>
<div class="Team py-16 g-container-padding border-b-3 border-black">

    <SectionItem
        class="container g-container-padding m-auto pt-16 g-bg-light"
        title="Meet the team"
    >
        <template  #title>
            <HeadingNormal>
                meet the team
            </HeadingNormal>
        </template>

        <div class="item mb-12 lg:flex lg:p-10 lg:gap-x-20">
            <KinesisContainer
                :duration="500"
                class="item-main w-3/4 max-w-screen-md m-auto relative lg:ml-14"
            >
                <KinesisElement
                    :strength="-10"
                    class="flower-wrap"
                >
                    <IconFlowers0 class="flower blue" />
                </KinesisElement>
                <KinesisElement :strength="15">
                    <img
                        class="item-image relative"
                        src="~@/assets/okmicah/personal/img-personal3.png"
                        alt="Micah Woods"
                    />
                </KinesisElement>
            </KinesisContainer>
            <div class="text pt-12 lg:w-2/4 lg:flex lg:flex-col lg:justify-center lg:text-left">
                <div class="text-4xl g-font-title lg:text-5xl">Micah Woods.</div>
                <div class="text-base lg:text-1-5xl">Founder/Designer/Website Whisperer</div>
            </div>
        </div>

        <div class="item mb-12 lg:flex lg:p-10 lg:gap-x-20 lg:flex-row-reverse">
            <KinesisContainer
                :duration="500"
                class="item-main w-3/4 max-w-screen-md m-auto relative"
            >
                <KinesisElement
                    :strength="-10"
                    class="flower-wrap"
                >
                    <IconFlowers0 class="flower purple" />
                </KinesisElement>
                <KinesisElement :strength="15">
                    <img
                        class="item-image relative"
                        src="~@/assets/okmicah/personal/img-personal2.png"
                        alt="Nick Ashkenis"
                    >
                </KinesisElement>
            </KinesisContainer>
            <div class="text pt-12 lg:w-2/4 lg:flex lg:flex-col lg:justify-center lg:text-left">
                <div class="text-4xl g-font-title lg:text-5xl">Nick Ashkenis.</div>
                <div class="text-base lg:text-1-5xl">Copy Extraordinaire/Project Manager</div>
            </div>

        </div>

        <div class="item mb-12 lg:flex lg:p-10 lg:gap-x-20">
            <KinesisContainer
                :duration="500"
                class="item-main w-3/4 max-w-screen-md m-auto relative lg:ml-14"
            >
                <KinesisElement
                    :strength="-10"
                    class="flower-wrap"
                >
                    <IconFlowers0 class="flower pink" />
                </KinesisElement>
                <KinesisElement :strength="15">
                    <img
                        class="item-image relative"
                        src="~@/assets/okmicah/personal/img-personal1.png"
                        alt="Negroni the Weenie"
                    >
                </KinesisElement>
            </KinesisContainer>

            <div class="text pt-12 lg:w-2/4 lg:flex lg:flex-col lg:justify-center lg:text-left">
                <div class="text-4xl g-font-title lg:text-5xl">Negroni the Weenie.</div>
                <div class="text-base lg:text-1-5xl">Cheerleader/People Manager</div>
            </div>
        </div>

    </SectionItem>
</div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'
import SectionItem from '@/views/Okmicah/components/SectionItem.vue'
import IconFlowers0 from '@/views/Okmicah/components/Icons/IconFlowers0.vue'
import { KinesisContainer, KinesisElement } from 'vue-kinesis'
import HeadingNormal from '@/views/Okmicah/components/HeadingNormal.vue'
@Component({
  components: {
    SectionItem,
    IconFlowers0,
    KinesisContainer,
    KinesisElement,
    HeadingNormal
  }
})
export default class Team extends Vue {
  public thisPage: HTMLDivElement | null = null;
}
</script>

<style lang="postcss" scoped>
.Team {
  background-color: var(--color-yellow);
}
.item-image {
}
.flower-wrap {
  width: 100%;
  position: absolute;
  left: -8%;
  top: 6%;
}
.flower {
  width: 100%;
  stroke: black;
  stroke-width: 5;
}
</style>
