<template>
<div>
    {{transitionName}}
    <transition-group
        class="carousel relative flex"
        :name="transitionName"
        tag="div"
        mode="out-in"
    >
        <template  v-for="({id, _id}) in list">
            <component
                class="w-full flex-shrink-0"
                :is="slots[_id]"
                :key="id"
            ></component>
        </template>
    </transition-group>
    <button
        class="border border-black p-6"
        @click="next(-1)"
    >prev</button>
    <button
        class="border border-black p-6"
        @click="next(1)"
    >next</button>
</div>

</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator'
import type { NormalizedScopedSlot, VNode } from 'vue/types/vnode'
import type { CreateElement, Component as VC } from 'vue'
@Component
export default class carousel extends Vue {
  // @Prop({ default: 'carousel' })
  // public transitionName!: string;

  public transitionName: 'left' | 'right' = 'left';

  public slots: VC[] = [];
  public list: any[] = []

  public getRender (): VC[] {
    const create = (vnode: VNode): VC => ({
      name: 'create-render-vnode',
      functional: true,
      render: (h: CreateElement, { ...arg }) => {
        return vnode
      }
    })

    const items = this.$slots.default || []
    const vnodes = items.map((vnode: VNode) => create(vnode))
    return vnodes
  }

  public next (index: number):void {
    if (index > 0) {
      this.transitionName = 'left'
      // const item: any = this.slots.shift()
      // this.slots.push(item)
      const item: any = this.list.shift()
      this.list.push(item)
    }
    if (index < 0) {
      this.transitionName = 'right'
      // const item: any = this.slots.pop()
      // this.slots.unshift(item)
      const item: any = this.list.pop()
      this.list.unshift(item)
    }
  }

  public mounted ():void {
    const slots = this.$scopedSlots.default as NormalizedScopedSlot
    // console.log(this.$slots)
    const vnodes = slots(() => ({}))
    if (vnodes) {
      this.slots = this.getRender()
      for (let i = 0, length = this.slots.length; i < length * 2; i++) {
        this.list.push({
          id: i,
          _id: i % length
        })
      }
    }
    // this.slots = vnodes || []
    console.log(this.slots)
    console.log(this.$scopedSlots)
  }
}
</script>

<style>
/* .carousel-move {
  transition: transform 0.3s;
}
.carousel-enter, .carousel-leave-to{
  transform: translateX(-100%);
} */
/*
.left-enter, .left-leave-to {
  transform: translateX(100%);
} */
/* .left-move {
  transition:  transform 1s;
}
.right-move {
  transition: transform 1s;
}
.left-enter{
  opacity: 0;
  transform: translateX(-100%);
}
.left-enter-to{
  opacity: 1;
  transform: translateX(0%);
}
.left-leave-to {
  opacity: 0;
  transform: translateX(100%);
}

.right-enter{
  opacity: 0;
  transform: translateX(100%);
}
.right-enter-to{
  opacity: 1;
  transform: translateX(0%);
}
.right-leave-to {
  opacity: 0;
  transform: translateX(-100%);
} */

.left-enter-active {
  animation: left-in 1s;
}
.left-leave-active {
  animation: right-in 1s;
}

.right-enter-active {
  animation: right-in 1s;
}
.right-leave-active {
  animation: left-in 1s;
}
@keyframes right-in {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes left-in {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

</style>
