<template>
<div
    :class="['collapse', { 'is-show': isShow }]"
    @click="pushEmitFn"
>
    <div class="collapse__header flex gap-4">
        <slot name="header">
            <div class="collapse__header__title flex-1 py-2">
                <slot name="title"></slot>
            </div>
            <div
                class="collapse__header__icon flex items-center"
            >
                <slot name="icon">
                    <div
                        class="collapse__icon"
                        :class="[{ 'svg-transform': isShow }]"
                        @click="handlerIsShow"
                    >
                        <div class="collapse__icon__main"></div>
                    </div>
                </slot>
            </div>
        </slot>
    </div>
    <div
        class="collapse__body"
        ref="collapse__body"
    >
        <div
            class="collapse__body__content"
            ref="collapse__body__content"
        >
            <slot name="body"></slot>
        </div>
    </div>
</div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'

export interface CollapseEmit {
  handlerIsShow: () => void;
}
@Component
export default class Collapse extends Vue {
  public isShow = false;
  public collapseBody: HTMLDivElement | null = null;
  public collapseBodyContent: HTMLDivElement | null = null;

  public handlerIsShow (): void {
    if (!this.collapseBody) return
    if (!this.collapseBodyContent) return

    const { offsetHeight } = this.collapseBodyContent
    this.isShow = !this.isShow
    this.$emit('changeIsShow', this.isShow)

    this.collapseBody.style.maxHeight = (this.isShow ? offsetHeight + window.innerWidth : 0) + 'px'
  }

  public pushEmitFn (event: Event):void {
    this.$emit('click', event, { handlerIsShow: this.handlerIsShow } as CollapseEmit)
  }

  public mounted ():void {
    this.collapseBody = this.$refs.collapse__body as HTMLDivElement | null
    this.collapseBodyContent = this.$refs.collapse__body__content as HTMLDivElement | null
  }
}
</script>

<style lang="postcss" scoped>
.collapse__body {
  transition: max-height 0.5s ease;
  max-height: 0;
  overflow: hidden;
}
.collapse__icon {
  cursor: pointer;
}
.collapse__icon__main {
  @apply border-3 border-black rounded-full w-10 h-10 relative;
  &:after,
  &:before {
    @apply border-b-3 border-black w-6 h-px absolute inset-0 m-auto rounded-full;
    content: '';
    display: block;
  }
  &:after {
    transition: transform 0.2s 0.1s cubic-bezier(.3,.76,.64,1.55);
    transform: rotate(90deg);
  }
}
.svg-transform .collapse__icon__main {
  &:after {
    transform: rotate(0deg);
  }
}

</style>
