<template>
<footer class="footer 2xl:container 2xl:m-auto g-container-padding flex flex-col lg:gap-20 lg:flex-row lg:justify-between">
    <div class="inline-block w-full py-16 lg:w-6/12">
        <div class="text-center lg:text-left">
            <div class="pb-8">
                <h2 class="join-me-form__title text-5xl lg:text-3xl xl:text-5xl">
                    How do you like your tea?
                </h2>
            </div>
            <p class="text-1-5xl lg:text-lg xl:text-1-5xl font-medium pb-8">
                Emailed? Cool…’cause we’ve got a lot to share. Subscribe to our newsletter to stay connected with the studio. Get updates, exclusive discounts, & more. We’re excited to have you join the community!
            </p>
            <div class="form leading-7 m-auto sm:w-4/6 lg:w-full">
                <input
                    class="input mb-3 w-full rounded-2lg"
                    type="text"
                    name="text"
                    placeholder="First Name"
                >
                <div class="relative flex">
                    <input
                        class="input w-full rounded-2lg rounded-tr-none rounded-br-none"
                        type="email"
                        name="email"
                        placeholder="Email Address"
                    >
                    <button class="submit-button flex-shrink-0 g-font-title border-r-3 border-t-3 border-b-3 border-black rounded-tr-2lg rounded-br-2lg pb-1 pt-2 px-10">JOIN US</button>
                </div>
            </div>
        </div>
    </div>

    <div class="md:grid md:grid-cols-2 md:gap-10 w-full py-10 lg:w-8/12 xl:w-6/12">
        <nav class="inline-block w-2/4 lg:w-auto justify-self-start self-start border-l-3 border-black pl-1 md:pl-4">
            <router-link
                v-for="route in nav"
                :to="route.to"
                :key="route.text"
                class="router-item block text-base md:text-1-5xl p-1 md:p-2 transition font-medium"
            >{{route.text}}</router-link>
        </nav>
        <div class="inline-block w-2/4 md:w-40 justify-self-end text-right">
            <div>
                <Logo
                    round
                    class="w-32 md:w-full"
                />
            </div>
        </div>
        <div class="footer-bottom-wrapper col-span-2 flex flex-wrap justify-center gap-2 pt-10 md:pt-0 md:justify-between">
            <div class="w-full md:w-auto flex justify-center gap-1 items-end text-sm">
                <div class="copyright">© </div>
                <div class="copyright">this is reference design, just exercise</div>
            </div>

            <div class="w-full md:w-auto flex justify-center  items-end text-sm">
                <div class="privacy__link">
                    <a
                        href="mailto:acatact8228@gmail.com?subject=Hey!"

                        target="_blank"
                        rel="noreferrer"
                    >Contact Us</a>
                </div>
                <div class="privacy__link">
                    <a
                        href="nothing"
                        @click.prevent
                    >Privacy Policy</a>
                </div>
                <div class="privacy__link">
                    <a
                        href="nothing"
                        @click.prevent
                    >T & C</a>
                </div>

            </div>
            <div class="w-full md:w-auto flex justify-center gap-6 lg:gap-0 xl:gap-6 items-end">
                <IconSolIG class="icon-sol w-8 transition cursor-pointer" />
                <IconSolFB class="icon-sol w-8 transition cursor-pointer" />
                <IconSolTW class="icon-sol w-8 transition cursor-pointer" />
                <IconSolPA class="icon-sol w-8 transition cursor-pointer" />
            </div>
        </div>
    </div>
</footer>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'
import { nav } from '@/views/Okmicah/share/route'
import Logo from '@/views/Okmicah/components/Logo.vue'
import IconSolFB from '@/views/Okmicah/components/Icons/IconSolFB.vue'
import IconSolIG from '@/views/Okmicah/components/Icons/IconSolIG.vue'
import IconSolPA from '@/views/Okmicah/components/Icons/IconSolPA.vue'
import IconSolTW from '@/views/Okmicah/components/Icons/IconSolTW.vue'

@Component({
  components: {
    Logo,
    IconSolFB,
    IconSolIG,
    IconSolPA,
    IconSolTW
  }
})
export default class Footer extends Vue {
  public nav = nav;
}
</script>

<style lang="postcss" scoped>
.join-me-form__title {
  font-family: var(--font-sp);
  position: relative;
}
.router-item {
  &:hover {
    color: var(--color-blue);
  }
}
.input {
  @apply block pb-1 pt-2 px-3 border-3 border-black bg-transparent placeholder-black;
  &:focus {
    border-color: var(--color-blue);
  }
}
.submit-button {
  background-color: var(--color-purple);
  &:hover {
    background-color: var(--color-pink);
  }
}
.privacy__link + .privacy__link {
  display: flex;
  align-items: center;
  &:before {
    content: '|';
    display: inline-block;
    font-size: 0.8rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    vertical-align: middle;
  }
}
.icon-sol {
  &:hover {
    color: var(--color-blue)
  }
}
</style>
