<template>
<div class="form-item">
    <span class="form-item__label">{{label}}</span>
    <template v-if="tag === 'input'">
        <input
            data-tag="input"
            class="w-full"
            :type="type"
            :label="label"
        />
    </template>
    <template v-if="tag === 'checkbox'">
        <div class="form-item__checkbox">
            <label
                v-for="option in options"
                :key="option.label"
            >
                <input
                    data-tag="checkbox"
                    type="checkbox"
                    :name="tag"
                    :value="option.value"
                />
                <span class="">{{option.label}}</span>
            </label>
        </div>
    </template>
    <template v-if="tag === 'radio'">
        <label
            class="form-item__radio w-full flex items-center cursor-pointer"
            v-for="option in options"
            :key="option.label"
        >
            <input
                class="w-full"
                data-tag="radio"
                type="radio"
                :name="tag"
                :value="option.value"
            />
            <span class="">{{option.label}}</span>
        </label>
    </template>
    <template v-if="tag === 'select'">
        <label class="form-item__select relative">
            <select
                class="w-full cursor-pointer"
                data-tag="select"
            >
                <option
                    data-tag="select-item"
                    v-for="option in options"
                    :value="option.value"
                    :key="option.label"
                    :label="option.label"
                ></option>
            </select>
            <span class="icon absolute right-0 top-0 bottom-0 px-5 flex items-center">
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                    class="w-6 h-6"
                >
                    <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M19.5 8.25l-7.5 7.5-7.5-7.5"
                    />
                </svg>

            </span>
        </label>
    </template>
    <template v-if="tag === 'textarea'">
        <textarea
            class="w-full"
            data-tag="textarea"
        />
    </template>
</div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator'
interface Option {
  label: string;
  value: string | number;
}
type Tag = 'input' | 'checkbox' | 'radio'| 'select' | 'textarea' | 'date'

interface FormItemProp {
  tag: Tag;
  type: string;
  label: string;
  valid?: () => boolean;
  required?: boolean;
  options?: Option[];
  date?: string;
}

@Component
export default class FormItem extends Vue {
  @Prop({ default: () => ({}) })
  public config!: FormItemProp

  @Prop({ default: '' })
  public tag!: FormItemProp['tag']

  @Prop({ default: '' })
  public type!: FormItemProp['type']

  @Prop({ default: '' })
  public label!: FormItemProp['label']

  @Prop()
  public valid?: FormItemProp['valid']

  @Prop()
  public required?: FormItemProp['required']

  @Prop({ default: () => [] })
  public options!: FormItemProp['options']

  @Prop()
  public date?: FormItemProp['date']
}
</script>

<style lang="postcss" scoped>

input,
textarea,
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
input[type="checkbox"],
input[type="radio"] {
  border-radius: 50%;
  width: 1.5rem;
  height: 1.5rem;

  border: 2px solid black;
  outline: none;
  transition: 0.1s border linear;
  margin-right: 5px;
  cursor: pointer;
}
input[type="checkbox"]:checked,
input[type="radio"]:checked {
  border: 0.5rem solid black;
}

input[data-tag="input"],
textarea,
select {
  @apply border-3 border-black rounded-lg py-1 px-2 text-lg;
  &:focus {
    border-color: var(--color-blue);
  }
}

.form-item__label {
  @apply font-medium;
}
.form-item__select {
  .icon {
      pointer-events: none;
  }
}
.form-item__checkbox {
  @apply py-1 px-2 text-lg flex flex-col items-start;
  label {
    @apply inline-flex flex-shrink-0 w-auto items-center cursor-pointer mr-8 px-3;
  }
  span {
    padding-top: 0.3rem;
  }
  & + & {
    @apply mt-2
  }
}

.form-item__radio {
  & + & {
    @apply mt-2
  }
}
</style>
