<template>
<component
    :is="tag"
    :class="['heading-normal', 'heading',textColor,`g-bg-${bgColor}`]"
>
    <slot></slot>
</component>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator'
@Component
export default class HeadingNormal extends Vue {
  @Prop({ default: 'h2' })
  public tag!: string;

  @Prop({ default: 'black' })
  public bgColor!: string;

  @Prop({ default: 'white' })
  public textColor!: string;
}
</script>

<style lang="postcss">
.heading-normal {
  @apply text-xl px-5 pb-1 pt-2;
  @screen sm {
    @apply text-lg px-5 pb-0.5 pt-1;
  }
  @screen md {
    @apply text-2xl px-7 pb-1 pt-2 ;
  }
}

</style>
