<template>
<svg
    width="8em"
    height="100%"
    viewBox="0 0 128 51"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
>
    <g clip-path="url(#clip0_210_2)">
        <path
            d="M74.7349 38.4045H64.5074C64.4535 38.4002 64.4015 38.383 64.3557 38.3541C64.3099 38.3253 64.2716 38.2857 64.2442 38.2388C63.9813 37.841 63.5866 37.6091 63.1262 37.6091C62.9527 37.6079 62.7806 37.6412 62.6199 37.7073C62.4592 37.7734 62.3131 37.8708 62.19 37.9941C62.0668 38.1173 61.9691 38.2639 61.9024 38.4254C61.8357 38.5868 61.8014 38.76 61.8014 38.9349C61.8014 39.1098 61.8357 39.283 61.9024 39.4445C61.9691 39.606 62.0668 39.7526 62.19 39.8758C62.3131 39.999 62.4592 40.0965 62.6199 40.1626C62.7806 40.2286 62.9527 40.262 63.1262 40.2607C63.5866 40.2607 63.9813 39.9957 64.2442 39.5979C64.2731 39.5548 64.3124 39.52 64.3585 39.4967C64.4046 39.4735 64.4559 39.4626 64.5074 39.4652H74.7349C74.822 39.4655 74.9056 39.5004 74.9672 39.5626C75.0288 39.6247 75.0635 39.7088 75.0637 39.7967C75.0637 46.0614 69.3745 51.0001 63.1263 51.0001C56.5163 51.0001 51.1233 45.597 51.1233 38.935C51.1233 32.273 56.5164 26.8364 63.1262 26.8364C69.3416 26.8364 75.0636 31.8084 75.0636 38.073C75.0634 38.1609 75.0287 38.245 74.9671 38.3071C74.9055 38.3692 74.822 38.4042 74.7349 38.4045Z"
            fill="currentColor"
        ></path>
        <path
            d="M13.5659 51C13.4152 51 13.3851 51 13.3248 50.8011L10.9132 42.2496C10.8527 42.0176 10.7021 41.9182 10.5513 41.9182C10.3705 41.9182 10.2499 42.1172 10.2499 42.2828V50.7017C10.2516 50.7393 10.2458 50.7768 10.2331 50.8121C10.2203 50.8474 10.2008 50.8798 10.1756 50.9075C10.1504 50.9351 10.12 50.9575 10.0862 50.9733C10.0523 50.9892 10.0158 50.9981 9.97852 50.9996H0.271392C0.234154 50.9981 0.197586 50.9892 0.163784 50.9733C0.129981 50.9575 0.0996095 50.9351 0.0744097 50.9074C0.04921 50.8798 0.0296778 50.8473 0.016933 50.812C0.00418809 50.7767 -0.00151892 50.7393 0.000139336 50.7017V27.1679C0.000139336 26.969 0.120651 26.8364 0.271392 26.8364H16.038C16.1887 26.8364 16.249 26.9358 16.3092 27.1679L17.696 32.4712C17.7564 32.6702 17.877 32.7364 18.0276 32.7364C18.1783 32.7364 18.299 32.6702 18.3593 32.4712L19.6858 27.1679C19.7462 26.9358 19.8067 26.8364 19.957 26.8364H35.7238C35.8745 26.8364 35.9951 26.969 35.9951 27.1679V50.7017C35.9968 50.7393 35.9911 50.7768 35.9783 50.8121C35.9655 50.8474 35.946 50.8798 35.9208 50.9074C35.8956 50.9351 35.8652 50.9575 35.8314 50.9733C35.7976 50.9892 35.761 50.9981 35.7238 50.9996H26.0166C25.9793 50.9981 25.9427 50.9892 25.9089 50.9733C25.8751 50.9575 25.8447 50.9351 25.8195 50.9075C25.7943 50.8798 25.7748 50.8474 25.762 50.8121C25.7492 50.7768 25.7435 50.7393 25.7452 50.7017V42.2825C25.7452 42.1169 25.6246 41.9179 25.4438 41.9179C25.2931 41.9179 25.1423 42.0173 25.0821 42.2493L22.6705 50.8009C22.61 50.9997 22.5801 50.9997 22.4293 50.9997L13.5659 51Z"
            fill="currentColor"
        ></path>
        <path
            d="M128 50.6686C128.001 50.7128 127.993 50.7568 127.977 50.7979C127.96 50.8389 127.936 50.8761 127.904 50.9072C127.873 50.9382 127.836 50.9625 127.795 50.9785C127.754 50.9944 127.71 51.0018 127.666 51H115.399C115.213 51 115.028 50.8674 115.028 50.6686V42.9124H113.434V50.6686C113.434 50.8674 113.286 51 113.064 51H100.796C100.752 51.0018 100.708 50.9944 100.667 50.9784C100.627 50.9625 100.589 50.9382 100.558 50.9071C100.527 50.8761 100.502 50.8389 100.486 50.7978C100.469 50.7568 100.461 50.7128 100.463 50.6686V27.1679C100.466 27.0803 100.502 26.9973 100.564 26.9357C100.626 26.8741 100.709 26.8386 100.796 26.8365H113.064C113.156 26.8313 113.247 26.8632 113.317 26.9253C113.386 26.9873 113.428 27.0746 113.434 27.1679V35.4877H115.028V27.1679C115.028 27.0023 115.213 26.8365 115.399 26.8365H127.666C127.753 26.8386 127.836 26.874 127.898 26.9356C127.96 26.9972 127.997 27.0803 128 27.1679V50.6686Z"
            fill="currentColor"
        ></path>
        <path
            d="M98.6874 50.5691C98.7764 50.8343 98.6576 51 98.4202 51H88.7162C88.5085 51 88.4195 50.8674 88.3601 50.6686L87.7963 48.7795H85.1254L84.5617 50.6686C84.5022 50.8674 84.4132 51 84.2056 51H74.472C74.2347 51 74.116 50.8343 74.205 50.5691L81.4755 27.0354C81.4969 26.9743 81.5374 26.9219 81.5909 26.886C81.6444 26.8501 81.7081 26.8327 81.7722 26.8364H91.2092C91.2697 26.8332 91.3294 26.8514 91.3781 26.8877C91.4268 26.924 91.4615 26.9762 91.4762 27.0354L98.6874 50.5691ZM86.4609 44.2051L85.541 47.3874H87.3809L86.4609 44.2051Z"
            fill="currentColor"
        ></path>
        <path
            d="M37.9778 32.2523C37.9778 28.9708 40.6416 26.4517 43.8972 26.4517C47.1858 26.4517 49.8165 28.9708 49.8165 32.2523C49.8164 33.0342 49.6629 33.8083 49.365 34.5303C49.0671 35.2522 48.6305 35.9077 48.0805 36.4591C47.5304 37.0104 46.8777 37.4468 46.1598 37.7431C45.4419 38.0393 44.6729 38.1897 43.8972 38.1855C40.6416 38.1855 37.9778 35.5337 37.9778 32.2523Z"
            fill="currentColor"
        ></path>
        <path
            d="M49.3232 39.2666C49.4085 39.2724 49.4888 39.3092 49.5493 39.3701C49.6098 39.4311 49.6463 39.512 49.652 39.598V50.6688C49.6519 50.7567 49.6173 50.8409 49.5556 50.9031C49.494 50.9652 49.4104 51.0002 49.3232 51.0003H38.4711C38.3839 51.0001 38.3004 50.9651 38.2388 50.903C38.1771 50.8408 38.1424 50.7567 38.1423 50.6688V39.598C38.148 39.512 38.1845 39.4311 38.245 39.3701C38.3054 39.3092 38.3858 39.2724 38.4711 39.2666H49.3232Z"
            fill="currentColor"
        ></path>
        <path
            d="M24.4013 12.0985C24.4013 18.8271 19.0081 24.1635 12.3324 24.1635C5.65667 24.1635 0.263458 18.8271 0.263458 12.0985C0.263458 5.36978 5.65667 0 12.3324 0C19.0081 0 24.4013 5.36978 24.4013 12.0985ZM13.4834 12.0985C13.4834 11.7908 13.3621 11.4957 13.1463 11.2781C12.9304 11.0606 12.6377 10.9384 12.3324 10.9384C12.0271 10.9384 11.7344 11.0606 11.5185 11.2781C11.3027 11.4957 11.1814 11.7908 11.1814 12.0985C11.1814 12.4061 11.3027 12.7012 11.5185 12.9188C11.7344 13.1363 12.0271 13.2586 12.3324 13.2586C12.6377 13.2586 12.9304 13.1363 13.1463 12.9188C13.3621 12.7012 13.4834 12.4061 13.4834 12.0985Z"
            fill="currentColor"
        ></path>
        <path
            d="M37.5782 0C37.6654 0.000196732 37.7489 0.0351784 37.8105 0.0972911C37.8722 0.159404 37.9069 0.24359 37.9071 0.33143V8.48523H38.7621L42.1493 0.33143C42.2479 0.13264 42.3136 0 42.5767 0H53.692C53.9222 0 53.988 0.0993953 53.8565 0.397784L48.9893 12.1316L53.8565 23.766C53.988 24.0639 53.9222 24.1636 53.692 24.1636H42.5438C42.2809 24.1636 42.215 24.031 42.1164 23.8318L38.8278 15.91H37.9071V23.8318C37.9098 23.8761 37.9031 23.9204 37.8875 23.9619C37.872 24.0033 37.8479 24.041 37.8168 24.0724C37.7857 24.1037 37.7484 24.1281 37.7072 24.1438C37.6661 24.1595 37.6222 24.1663 37.5782 24.1636H26.7261C26.6822 24.1663 26.6383 24.1595 26.5971 24.1438C26.556 24.1281 26.5187 24.1037 26.4876 24.0724C26.4565 24.041 26.4324 24.0033 26.4168 23.9619C26.4013 23.9204 26.3946 23.8761 26.3973 23.8318V0.33143C26.3973 0.0993953 26.5288 0 26.7261 0H37.5782Z"
            fill="currentColor"
        ></path>
    </g>
    <defs>
        <clipPath id="clip0_210_2">
            <rect
                width="128"
                height="51"
                fill="currentColor"
            ></rect>
        </clipPath>
    </defs>
</svg>
</template>
