<template>
<section class="impression g-bg-yellow py-20 g-container-padding border-b-3 border-black">
    <SectionItem
        class="g-bg-light 2xl:container 2xl:m-auto"
    >
        <template #title>
            <HeadingNormal>
                what the people have to say
            </HeadingNormal>
        </template>

        <div
            class="sliders relative overflow-hidden"
            aria-label="carousel"
            id="carousel"
        >
            <transition-group
                class="flex justify-center pb-12 pt-10 sm:px-12"
                tag="div"
                name="carousel"
            >
                <div
                    class="slide w-full px-20 flex-shrink-0 flex flex-col justify-center leading-6 md:text-1-5xl md:font-medium"
                    role="group"
                    v-for="(item, i) in list"
                    :key="item.id"
                    :aria-label="`${i} of ${list.length}`"
                    @transitionend="onEnter"
                >
                    <div class="pt-5">
                        <img
                            class="w-auto inline-block"
                            src="~@/assets/okmicah/functional/icon-star.svg"
                        />
                    </div>
                    <div
                        class="pt-8"
                        v-html="item.content()"
                    />
                    <div
                        class="pt-5"
                        v-html="item.footer()"
                    />
                </div>
            </transition-group>

            <div  class="absolute left-2 sm:left-5 inset-y-0 z-10 flex items-center">
                <button
                    class="border-3 border-black p-2 rounded-2lg ring-offset-2 ring-blue-500 focus:ring"
                    aria-controls="carousel"
                    aria-label="previous slide"
                    @click="handlerSlideIndex(-1)"
                >
                    <IconArrowLeft />
                </button>
            </div>
            <div  class="absolute right-2 sm:right-5 inset-y-0 z-10 flex items-center">
                <button
                    class="border-3 border-black p-2 rounded-2lg ring-offset-2 ring-blue-500 focus:ring"
                    aria-controls="carousel"
                    aria-label="next slide"
                    @click="handlerSlideIndex(1)"
                >
                    <IconArrowRight />
                </button>
            </div>
        </div>

    </SectionItem>
</section>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'
import SectionItem from '@/views/Okmicah/components/SectionItem.vue'
import IconArrowLeft from '@/views/Okmicah/components/Icons/IconArrowLeft.vue'
import IconArrowRight from '@/views/Okmicah/components/Icons/IconArrowRight.vue'
import HeadingNormal from '@/views/Okmicah/components/HeadingNormal.vue'
interface List {
  id?: number;
  content: () => string;
  footer: () => string;
}

@Component({
  components: {
    SectionItem,
    IconArrowLeft,
    IconArrowRight,
    HeadingNormal
  }
})
export default class Impression extends Vue {
  public list: List[] = [
    {
      content: (): string => {
        return `
          <p>
           Working with Micah was phenomenal! He took the time to truly get to
          know my organization and the impact we hope to have. His process is
          super collaborative, but also takes the bold steps necessary to be
          innovative. I am in love with my website.
          <strong><br/>It captures our vision perfectly.</strong>
          </p>

        `
      },
      footer: (): string => {
        return '<p>—Simone Gamble, Founder of OAAARS</p>'
      }
    },
    {
      content: (): string => {
        return `
          <p>
            You are simply the best! The quality of work is literally unmatched!
            You go above and beyond to incorporate your expertise into designs.
            <br><strong>NO ONE does it like you do!</strong>
          </p>
        `
      },
      footer: (): string => {
        return '<p>—Alyssa Nguyen, Founder of Atnn Design</p>'
      }
    },
    {
      content: (): string => {
        return `
          <p>
            I AM D E A D AT FIRST CLICK THROUGH I AM OBSESSED! Like the nav????
          Excuse me?!?!<br />Thank you so much for putting so much care and love
          into the designs, <strong>I am deceased</strong>.
          </p>
        `
      },
      footer: (): string => {
        return '<p>—Molly O\'Neill, Founder of Fred & Co.</p>'
      }
    },
    {
      content: (): string => {
        return `
          <p>
            This site is the most beautiful thing I’ve ever seen and I know there
          have been some long days/nights spent on it - I just want you to know
          that it doesn’t go unnoticed and every time I look at it I go
          <strong>HOLY SH*T</strong> 🤩
          </p>
        `
      },
      footer: (): string => {
        return '<p>——Cait Timmins, Founder of Social Motion Packs</p>'
      }
    },
    {
      content: (): string => {
        return `
          <p>
            You work is just so so brilliant. I am truly blown away. Thank you
          again and again for sharing your mind in tandem with your heart on
          this project.<br/><strong>I am thrilled!</strong>
          </p>
        `
      },
      footer: (): string => {
        return '<p>——Laura Douciere, Founder of Douciere Design</p>'
      }
    }
  ]

  public carouselLimit = {
    limit: NaN,
    _limit: NaN,
    _isInit: false,
    init (limit = 1): void {
      this._limit = this.limit = limit
      this._isInit = true
    },
    reset ():void {
      if (!this._isInit) throw Error('carouselLimit should be use "carouselLimit.init()"')
      this.limit = this._limit
    },
    isResetDone (): boolean {
      if (!this._isInit) throw Error('carouselLimit should be use "carouselLimit.init()"')
      return this.limit === this._limit
    }
  };

  public handlerSlideIndex (index: number):void {
    if (this.carouselLimit.limit <= 0) return
    if (index > 0) {
      this.list.push(this.list.shift() as List)
    }
    if (index < 0) {
      this.list.unshift(this.list.pop() as List)
    }
    this.carouselLimit.limit--
  }

  public onEnter (): void {
    if (this.carouselLimit.isResetDone()) return
    this.carouselLimit.reset()
  }

  public created ():void {
    this.carouselLimit.init()
    this.list = this.list.map((item, i) => {
      return {
        ...item,
        id: i
      }
    })
  }
}
</script>

<style lang="postcss" scoped>
.slide {
  &:first-child,
  &:last-child {
    z-index: -1;
    opacity: 0;
  }
  @screen xl {
    padding-left: 15%;
    padding-right: 15%;
  }
}

.carousel-move {
  transition: transform 0.3s ease;
}

</style>
