<template>
<div class="c-item">
    <slot name="header" />

    <template v-if="typeof data === 'object'">
        <component
            v-for="(item, i) in data"
            :key="i"
            :is="CItem"
            :data="item"
        ></component>
    </template>

    <template v-else>
        {{data}}
    </template>
    <slot />
</div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator'
@Component
export default class CItem extends Vue {
  @Prop({ default: () => '' })
  public data!: Array<string[] | number[]> | string | number

  public CItem = CItem;
}
</script>

<style scoped>
</style>
