<template>
<div class="item-view">
    <h3 class="item-view__title g-font-link font-bold text-4xl pb-4">
        <slot name="title">{{title}}</slot>
    </h3>
    <div class="item-view__content text-xl lg:text-lg pb-6 font-medium text-black">
        <slot></slot>
    </div>
    <div class="item-view__link text-lg lg:text-sm underline font-medium text-black">
        <slot name="link">
            {{link}}
        </slot>
    </div>
</div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator'
@Component
export default class ItemView extends Vue {
  @Prop({ default: '' })
  public title!: string;

  @Prop({ default: '' })
  public link!: string;
}
</script>

<style scoped>
</style>
