<template>
<div>
    <KinesisElement
        v-for="(item,i) in icons"
        :key="i"
        :strength="item.strength"
        :class="['w-32', 'absolute', item.classes]"
    >
        <component
            :is='item.icon'
            class="w-full"
        ></component>
    </KinesisElement>
</div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'
import { KinesisContainer, KinesisElement } from 'vue-kinesis'

import IconPattern0 from '@/views/Okmicah/components/Icons/IconPattern0.vue'
import IconPattern1 from '@/views/Okmicah/components/Icons/IconPattern1.vue'
import IconPattern2 from '@/views/Okmicah/components/Icons/IconPattern2.vue'
import IconPattern3 from '@/views/Okmicah/components/Icons/IconPattern3.vue'
import IconPattern4 from '@/views/Okmicah/components/Icons/IconPattern4.vue'
import IconPattern5 from '@/views/Okmicah/components/Icons/IconPattern5.vue'
import IconPattern6 from '@/views/Okmicah/components/Icons/IconPattern6.vue'

@Component({
  components: {
    KinesisContainer,
    KinesisElement,
    IconPattern0,
    IconPattern1,
    IconPattern2,
    IconPattern3,
    IconPattern4,
    IconPattern5,
    IconPattern6
  }
})
export default class KinesisPattern extends Vue {
  public icons = [
    //  藍色 菱形
    {
      strength: 60,
      icon: IconPattern1,
      classes: 'top-8 right-3'
    },
    // 紅色 半圓形
    {
      strength: 50,
      icon: IconPattern6,
      classes: 'bottom-2 left-1/4 z-10'
    },
    // 太陽
    {
      strength: 20,
      icon: IconPattern2,
      classes: 'top-6 -left-8'
    },
    // 綠色 三角
    {
      strength: 80,
      icon: IconPattern3,
      classes: 'left-20 top-2/4'
    },
    // 紫色 毛毛蟲
    {
      strength: 50,
      icon: IconPattern4,
      classes: 'right-16'
    },
    // 粉色 三角
    {
      strength: 20,
      icon: IconPattern5,
      classes: ' -bottom-4 right-8'
    },
    // 黃色 半圓空心
    {
      strength: 40,
      icon: IconPattern0,
      classes: '-bottom-4 -left-2'
    }
  ]
}
</script>

<style scoped>
</style>
