<template>
<component
    :is='tag'
    class="link-button__wrapper"
    v-bind="$props"
    :to="$props.to"
    :class="[`link-button__style--${styleMode}`]"
>
    <span class="link-button__text g-font-link">
        <slot></slot>
    </span>
</component>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator'
import type { Location } from 'vue-router'

type StyleMode = 'none' | 'down-block';

@Component
export default class LinkButton extends Vue {
  @Prop({ default: '' })
  public to!: string | Location;

  @Prop({ default: 'none' })
  public styleMode!: StyleMode;

  get tag (): string {
    return this.to ? 'router-link' : 'button'
  }
}
</script>

<style lang="postcss">
.link-button__wrapper {
  position: relative;
  display: inline-block;
}
.link-button__style--down-block {
  @screen lg {
    &:after {
      @apply border-3 border-black rounded-2lg;
      content: '';
      position: absolute;
      bottom: -9px;
      right:-10px;
      width: 100%;
      height: 100%;
    }
    &:hover {
      .link-button__text {
        transform: translate(10px, 9px);
      }
    }
  }
}
.link-button__text {
  @apply uppercase inline-block border-3 border-black rounded-2lg pb-2 pt-3 px-5 text-xl text-center transition;
  background-color: var(--color-pink);
  position: relative;
  z-index: 1;
  min-width: 10rem;

  @screen sm {
    @apply px-9;
    min-width: 12rem;
  }
  @screen xl {
    @apply text-lg pt-3 pb-2 px-9;
    min-width: 14rem;
  }
}
</style>
