<template>
<div class="c-list-item px-5 py-10 text-left font-medium">
    <h3
        v-if="title"
        class="uppercase text-left font-bold text-1-5xl mb-7 md:text-lg lg:text-base xl:text-1-5xl"
    >
        {{title}}
    </h3>
    <div class="text-base md:text-1-5xl lg:text-sm lg:flex lg:flex-wrap lg:gap-16 lg:gap-y-8 lg:relative lg:w-auto xl:text-lg 2xl:text-xl">
        <slot></slot>
        <!-- <div
            v-for="(item, i) in list"
            :key="i"
            class="flex flex-col gap-10"
        >
            <ul class="flex-1">
                <li
                    v-for="(content, i) in item.items"
                    :key="i"
                    :data-prefix="textPrefix"
                >
                    {{content}}
                </li>
            </ul>
            <slot
                v-if="item.slotName"
                :name="prop ? `${prop}-${item.slotName}` : item.slotName"
            />
        </div> -->
    </div>
    <slot :name="prop ? `${prop}-other` : 'other'"></slot>
</div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator'
@Component
export default class ListItem extends Vue {
  @Prop({ default: '' })
  public title!: string

  @Prop({ default: () => [] })
  public list!: []

  @Prop({ default: '' })
  public prop!: string;

  @Prop({ default: '' })
  public textPrefix!: string;
}
</script>

<style lang="postcss">
.c-list-item {
  li {
    line-height: 1.6;
    /* &:before {
      @apply pr-2;
      content: attr(data-prefix);
      display:inline-block;
    } */
  }
}
</style>
