<template>
<div class="logo inline-block">
    <IconLogoRouned
        v-if="round"
        class="transition duration-200 w-full"
    />
    <IconLogo
        v-else
        class="transition duration-200 w-full"
    />
</div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator'
import IconLogo from '@/views/Okmicah/components/IconLogo.vue'
import IconLogoRouned from '@/views/Okmicah/components/Icons/IconLogoRouned.vue'

@Component({
  components: {
    IconLogo,
    IconLogoRouned
  }
})
export default class Logo extends Vue {
  @Prop({ type: Boolean, default: false })
  public round!: boolean;
}
</script>

<style lang="postcss">
.logo {
  color: var(--color-black);
}
.logo:hover {
  color:  var(--color-blue);
}
</style>
