<template>
<header
    class="okmicah-header max-w-screen-2xl m-auto md:px-7"
>
    <div class="flex items-center border-b-3 border-black text-center px-5 md:px-0 pt-7 pb-5">

        <input
            id="nav-switch"
            type="checkbox"
            name="nav-switch"
            class="nav-switch"
            ref="nav-switch"
            @change="onHamburgerChange"
        >
        <label
            for="nav-switch"
            class="hamburger lg:hidden relative z-20 block w-9 h-9 bg-black rounded-full cursor-pointer"
        >
            <div class="hamburger-line"></div>
        </label>
        <nav
            class="okmicah-nav g-font-link relative z-20 flex-1"
        >
            <router-link
                v-for="nav in navList"
                :key="nav.text"
                :to="nav.to"
                :class="nav.className"
            >
                <component
                    v-if="nav.component"
                    :is='nav.component'
                ></component>
                <span
                    v-else
                    class="okmicah-nav-item"
                >
                    {{nav.text}}
                </span>
            </router-link>
        </nav>

        <nav
            class="okmicah-nav g-font-link relative z-10 okmicah-nav--mobile"
        >
            <router-link
                v-for="nav in mobileNavList"
                :key="nav.text"
                :to="nav.to"
            >
                <component
                    v-if="nav.component"
                    :is='nav.component'
                ></component>
                <span
                    v-else
                    class="okmicah-nav-item"
                >
                    {{nav.text}}
                </span>
            </router-link>
        </nav>
    </div>
    <!-- 跑馬燈 -->
    <marquee>
        <div class="track-wrapper">
            <router-link
                :to="{ name: 'OkmicahWorkWithUs' }"
                class="inline-block mr-1"
                v-for="n in 7"
                :key="n"
            >
                <div class="align-middle">
                    Now Booking
                    <span class="current-month">February</span>
                    • Click to work with us •
                </div>

            </router-link>
        </div>
    </marquee>
</header>
</template>

<script lang="ts">
import { Component, Vue, Watch } from 'vue-property-decorator'
import Logo from '@/views/Okmicah/components/Logo.vue'
import { Component as VC } from 'vue'
import { Location } from 'vue-router'
import resolveConfig from 'tailwindcss/resolveConfig'
import { tailwindConfig } from '@/views/Okmicah/share/tailwindcss'

import { nav } from '@/views/Okmicah/share/route'
import type { Nav } from '@/views/Okmicah/share/route'

interface NavMix extends Nav {
  to: Location;
  text: string;
  component?: VC,
  className?: string;
}

@Component({
  components: {
    Logo
  }
})
export default class OkmicahNav extends Vue {
  public isShowNav = false;
  public navList: NavMix[] = [];
  public navSwitch: HTMLInputElement | null = null;
  public fullConfig = resolveConfig(tailwindConfig)

  public get mobileNavList (): NavMix[] {
    return this.navList.filter((nav) => nav.to.name !== 'OkmicahMain')
  }

  public onScreenLg ():void {
    if (window.innerWidth < parseInt(this.fullConfig.theme.screens.lg)) return
    this.handlerHamburger(false)
  }

  public onHamburgerChange (e: Event):void {
    const el = e.target as HTMLInputElement
    this.handlerScroll(el.checked)
  }

  public handlerHamburger (checked: boolean):void {
    if (!this.navSwitch) return
    if (!this.navSwitch.checked) return
    this.navSwitch.checked = checked
    this.handlerScroll(checked)
  }

  public handlerScroll (isFz: boolean):void {
    document.body.style.overflow = isFz ? 'hidden' : ''
    document.body.style.paddingRight = isFz ? '15px' : ''
  }

  public created ():void {
    const list: NavMix[] = nav.slice()
    list.splice(2, 0, {
      to: { name: 'OkmicahMain' },
      text: 'index',
      component: Logo,
      className: 'okmicah-header__logo'
    })

    this.navList = list
  }

  public mounted (): void {
    this.navSwitch = this.$refs['nav-switch'] as HTMLInputElement | null
    window.addEventListener('resize', this.onScreenLg)
  }

  public beforeDestroy (): void {
    window.removeEventListener('resize', this.onScreenLg)
  }

  @Watch('$route')
  public onRouteChange (): void {
    this.$nextTick(() => {
      this.handlerHamburger(false)
    })
  }
}
</script>

<style lang="postcss">

.okmicah-nav {
  @apply flex justify-center transition-all duration-500 ease-in;

  &:not(.okmicah-nav--mobile) .okmicah-nav-item {
    display: none;
    @screen lg {
      display: inline-block;
    }
  }
  @screen lg {
    @apply p-0 items-center gap-8
  }
}

.okmicah-nav--mobile {
  @apply flex-col gap-9 px-9 justify-start;
  overflow: auto;
  background-color: var(--color-light);
  padding-top: 8rem;
  padding-bottom: 8rem;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  transform: translateX(-200%);

  &::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
  direction: rtl;

  @screen lg {
    @apply hidden;
  }
}
.okmicah-nav-item {
  @apply inline-block text-2xl border-2 border-black rounded-2lg py-3 px-6 w-64 transition duration-200;

  background-color: var(--color-pink);

  &:hover {
    color: var(--color-blue)
  }

  @screen lg {
    @apply border-0 text-lg p-0 w-auto;
    background-color: transparent;
  }
}
.okmicah-header__logo {
  @apply text-xl;
  @screen lg {
    flex: 1;
    font-size: 1.375rem;
  }
}
.nav-switch {
  display: none;
}
.nav-switch:checked ~ .okmicah-nav--mobile {
  opacity: 1;
  transform: translateX(0)

}

.hamburger-line {
  width: 40%;
  height: 2px;
  background-color: var(--color-light);
  position: absolute;
  left:50%;
  top:50%;
  transform: translate(-50%,-50%);
  transition: 0.5s;
  &:after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-color: inherit;
    position: absolute;
    top: -0.3rem;
    left: 0px;
    background-color: var(--color-light);
    transition: transform 0.2s, top 0.2s 0.2s ease-in;
  }
  &:before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-color: inherit;
    position: absolute;
    top: 0.3rem;
    left: 0px;
    background-color: var(--color-light);
    transition: transform 0.2s, top 0.2s 0.2s ease-in;
  }
}
.nav-switch:checked ~ .hamburger .hamburger-line {
  background-color: transparent;

  &:after {
    top: 0;
    transform: rotate(45deg);
    transition: top 0.2s, transform 0.2s 0.2s ease-in;
  }
  &:before {
    top: 0;
    transform: rotate(135deg);
    transition: top 0.2s, transform 0.2s 0.2s ease-in;
  }
}
.track-wrapper {
  @apply text-xs flex items-center pt-2;
  text-transform: uppercase;
  font-weight: 500;
  @screen md {
    @apply text-lg;

  }
}

@keyframes marquee-horizontal {
  from { transform: translateX(0); }
  to { transform: translateX(-50%); }
}

</style>
