<template>
<div class="text-center">
    <h2 class="our-value__title g-font-title">Our Values</h2>
    <ul class="border-b-3 border-black">
        <li class="our-value__item hover-red hover-bg-pink">INCLUSIVE</li>
        <li class="our-value__item hover-yellow hover-bg-green">COMMUNITY</li>
        <li class="our-value__item hover-blue hover-bg-purple">QUALITY</li>
    </ul>
    <p class="our-value__paragraph px-5 py-12 lg:px-12">We know we talk a big game, but we back it up with a balance of strategic thinking and a commitment to building designs that convert. Our playful, but respectful attitude welcomes queer clientele in an industry that largely caters to heteronorms. We continuously find ways to enforce our collaborative, community-first approach to cultivate inclusivity and design in spaces that are safe for all.</p>
    <slot name="footer"></slot>
</div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'
@Component
export default class OurValue extends Vue {
}
</script>

<style lang="postcss" scoped>
.our-value__item {
  font-family: var(--font-sp);
  line-height: 1.6;
}

@screen max-lg {
  .hover-red {color: var(--color-red);}
  .hover-bg-pink {background-color: var(--color-pink);}

  .hover-yellow {color: var(--color-yellow);}
  .hover-bg-green {background-color: var(--color-green);}

  .hover-blue {color: var(--color-blue);}
  .hover-bg-purple {background-color: var(--color-purple);}

}
@screen lg {
  .hover-red:hover {color: var(--color-red);}
  .hover-bg-pink:hover {background-color: var(--color-pink);}

  .hover-yellow:hover {color: var(--color-yellow);}
  .hover-bg-green:hover {background-color: var(--color-green);}

  .hover-blue:hover {color: var(--color-blue);}
  .hover-bg-purple:hover {background-color: var(--color-purple);}
}
</style>
