<template>
<div class="section-item text-center border-3 border-black rounded-3xl relative">
    <div
        class="section-item__title absolute top-0 inset-x-0 m-auto transform -translate-y-2/4"
        v-if="$slots.title"
    >
        <slot name="title"></slot>
    </div>
    <slot></slot>
</div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'
@Component
export default class SectionItem extends Vue {
}
</script>

<style scoped>
</style>
