<template>
<main class="page404 h-screen pb-20 flex justify-center items-center">
    <marquee
        scrollamount="10"
        class="animate-bounce"
    >
        <div class="flex">
            <div
                class="p-6 box-content flex justify-center items-center"
                v-for="(n, i) in print"
                :key="i"
            >
                <div
                    class="relative grid grid-cols-4 grid-rows-2 gap-1 transform top-5 left-2"
                    style="width: 12rem;"
                >
                    <div
                        class="item t6-x"
                        date-index="0,0"
                        :class="[n[0][0] ? '' : 'opt']"
                    ></div>

                    <div
                        class="item t6-y col-span-2"
                        style="position: relative;top:-1.2rem;left:-1.48rem;"
                        :class="[n[0][1] ? '' : 'opt']"
                        date-index="0,1"
                    ></div>

                    <div
                        class="item t6-x"
                        :class="[n[0][2] ? '' : 'opt']"
                        date-index="0,2"
                    ></div>

                    <div
                        class="item t6-x"
                        :class="[n[2][0] ? '' : 'opt']"
                        date-index="2,0"
                    ></div>

                    <div
                        class="item t6-center col-span-2"
                        style="position: relative;top:-1.1rem;left:-1.48rem; width:8rem;"
                        :class="[n[1][1] ? '' : 'opt']"
                        date-index="1,1"
                    ></div>

                    <div
                        class="item t6-x"
                        :class="[n[2][2] ? '' : 'opt']"
                        date-index="2,2"
                    ></div>

                    <div
                        class="item t6-y col-span-2 col-start-2 col-end-4"
                        style="position: relative;top:-1.2rem;left:-1.48rem;"
                        :class="[n[2][1] ? '' : 'opt']"
                        date-index="2,1"
                    ></div>
                </div>
            </div>

        </div>
    </marquee>
</main>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'

@Component({
  components: {
  }
})
export default class Page404 extends Vue {
  public all: number[][] = [
    [1, 1, 1],
    [0, 1, 0],
    [1, 1, 1]
  ]

  public f: number[][] = [
    [1, 0, 1],
    [0, 1, 0],
    [0, 0, 1]
  ]

  public z: number[][] = [
    [1, 1, 1],
    [0, 0, 0],
    [1, 1, 1]
  ]

  get print (): number[][][] {
    return [
      [...this.f],
      [...this.z],
      [...this.f]
    ]
  }
}
</script>

<style scoped>
* {
  /* outline: 1px solid red */
}
.item {
  background: theme('colors.blue.500');
  background:
    linear-gradient(135deg, transparent 0.6rem, theme('colors.blue.500') 0) top left,
    linear-gradient(-135deg, transparent 0.6rem, theme('colors.blue.500') 0) top right,
    linear-gradient(-45deg, transparent 0.6rem, theme('colors.blue.500') 0) bottom right,
    linear-gradient(45deg, transparent 0.6rem, theme('colors.blue.500') 0) bottom left;
  background-size: 50% 50%;
  background-repeat: no-repeat;
}
.t6-x {
  @apply w-8 h-32;
}
.t6-y {
  @apply w-32 h-8;
}
.t6-center{
  @apply w-32 h-8;
}
.opt {
  background: transparent;
}
</style>
