<template>
<!-- 紅色 半圓形 -->

<svg
    width="243"
    viewBox="0 0 243 253"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
>
    <path
        d="M242.755 28.7635C234.727 38.1557 226.685 47.0016 219.271 56.3451C198.76 82.1903 178.108 107.94 158.305 134.322C145.676 151.146 129.845 164.718 115.27 179.54C91.57 203.639 67.0323 226.917 42.9694 250.664C40.56 253.042 39.1835 253.169 36.552 251.003C29.502 245.359 24.0646 237.959 20.7863 229.546C14.9797 214.726 8.15407 200.31 2.00412 185.62C0.748437 182.798 0.214043 179.707 0.448983 176.626C3.57844 151.042 5.56637 125.194 10.8263 100.035C14.55 82.2281 22.1932 65.0581 35.2775 51.2531C39.7971 46.717 44.0616 41.9342 48.0517 36.9267C52.986 30.3987 59.7923 26.7689 67.0665 24.3391C85.9054 18.0461 104.788 11.7489 123.971 6.66244C136.118 3.44123 148.819 2.25395 161.31 0.410449C168.178 -0.525159 175.169 0.453379 181.513 3.23809C200.317 11.012 219.254 18.4711 238.118 26.1036C239.719 26.8907 241.268 27.7791 242.755 28.7635V28.7635Z"
        fill="#FF403D"
    />
</svg>

</template>
