<template>
<svg
    xmlns="http://www.w3.org/2000/svg"
    width="100%"
    viewBox="0 0 23 50"
    fill="none"
>
    <path
        d="M13 1.72705C13 0.898624 12.3284 0.227051 11.5 0.227051C10.6716 0.227051 10 0.898624 10 1.72705L13 1.72705ZM10.4393 49.3332C11.0251 49.919 11.9749 49.919 12.5607 49.3332L22.1066 39.7872C22.6924 39.2014 22.6924 38.2517 22.1066 37.6659C21.5208 37.0801 20.5711 37.0801 19.9853 37.6659L11.5 46.1512L3.01472 37.6659C2.42893 37.0801 1.47919 37.0801 0.8934 37.6659C0.307613 38.2517 0.307613 39.2014 0.8934 39.7872L10.4393 49.3332ZM10 1.72705L10 48.2725L13 48.2725L13 1.72705L10 1.72705Z"
        fill="black"
    />
</svg>
</template>
