<template>

<svg
    width="8em"
    height="8em"
    viewBox="0 0 107 107"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
>
    <circle
        cx="53.5"
        cy="53.5"
        r="53.5"
        fill="currentColor"
    />
    <path
        d="M77.468 72.7048C77.468 72.5184 77.3182 72.332 77.131 72.332H64.7375C64.5502 72.332 64.363 72.5184 64.363 72.7048V82.0624H62.753V72.7048C62.753 72.5184 62.6032 72.332 62.3786 72.332H49.985C49.7978 72.332 49.648 72.5184 49.648 72.7048V99.1372C49.648 99.3609 49.7978 99.51 49.985 99.51H62.3786C62.6032 99.51 62.753 99.3609 62.753 99.1372V90.4134H64.363V99.1372C64.363 99.3609 64.5502 99.51 64.7375 99.51H77.131C77.3182 99.51 77.468 99.3609 77.468 99.1372V72.7048Z"
        fill="#FEF1E5"
    />
    <path
        d="M101.222 56.9362C101.222 49.89 94.7773 44.2979 87.777 44.2979C80.3323 44.2979 74.258 50.412 74.258 57.9055C74.258 65.399 80.3323 71.4759 87.777 71.4759C94.8143 71.4759 101.222 65.921 101.222 58.8748C101.222 58.6884 101.074 58.502 100.852 58.502H89.3326C89.2215 58.502 89.1104 58.5393 89.0363 58.6511C88.74 59.0985 88.2956 59.3967 87.777 59.3967C86.9622 59.3967 86.2955 58.7257 86.2955 57.9055C86.2955 57.0853 86.9622 56.4142 87.777 56.4142C88.2956 56.4142 88.74 56.6752 89.0363 57.1226C89.1104 57.2344 89.2215 57.309 89.3326 57.309H100.852C101.074 57.309 101.222 57.1226 101.222 56.9362Z"
        fill="#FEF1E5"
    />
    <path
        d="M58.957 55.2516C62.702 55.2516 65.698 52.2926 65.698 48.6308C65.698 44.969 62.702 42.158 58.957 42.158C55.2495 42.158 52.216 44.969 52.216 48.6308C52.216 52.2926 55.2495 55.2516 58.957 55.2516ZM52.7778 56.0283C52.5905 56.0283 52.4033 56.2133 52.4033 56.3982V68.7521C52.4033 68.974 52.5905 69.122 52.7778 69.122H65.1363C65.3235 69.122 65.5108 68.974 65.5108 68.7521V56.3982C65.5108 56.2133 65.3235 56.0283 65.1363 56.0283H52.7778Z"
        fill="#FEF1E5"
    />
    <path
        d="M45.3906 73.0009C45.4491 72.859 45.3736 72.7107 45.2538 72.6223L35.7333 65.5917C35.5836 65.4811 35.4496 65.4747 35.3013 65.5502L12.269 81.3901C12.0023 81.5633 12.0115 81.8014 12.251 81.9783L22.0709 89.23C22.2805 89.3847 22.4587 89.3313 22.6513 89.1959L24.4803 87.9095L27.1748 89.8993L26.4834 92.0258C26.4107 92.2497 26.412 92.4358 26.6216 92.5905L36.4116 99.8201C36.6511 99.997 36.8814 99.9357 36.9685 99.6299L45.3906 73.0009ZM25.828 86.9616L28.8786 84.7728L27.6842 88.3323L25.828 86.9616Z"
        fill="#FEF1E5"
    />
    <path
        d="M31.1386 62.2741C31.3133 62.2741 31.3483 62.2741 31.4182 62.0645L34.2142 53.0519C34.2841 52.8073 34.4588 52.7025 34.6336 52.7025C34.8433 52.7025 34.9831 52.9121 34.9831 53.0868V61.9597C34.9831 62.1344 35.1229 62.2741 35.2976 62.2741H46.5514C46.7262 62.2741 46.866 62.1344 46.866 61.9597V37.1574C46.866 36.9478 46.7262 36.8081 46.5514 36.8081H28.2727C28.098 36.8081 28.0281 36.9129 27.9582 37.1574L26.4204 42.7467C26.3505 42.9563 26.2107 43.0261 26.0359 43.0261C25.8612 43.0261 25.7214 42.9563 25.6515 42.7467L24.0438 37.1574C23.9739 36.9129 23.904 36.8081 23.7293 36.8081H5.45053C5.27579 36.8081 5.13599 36.9478 5.13599 37.1574V61.9597C5.13599 62.1344 5.27579 62.2741 5.45053 62.2741H16.7044C16.8791 62.2741 17.0189 62.1344 17.0189 61.9597V53.0868C17.0189 52.9121 17.1587 52.7025 17.3684 52.7025C17.5431 52.7025 17.7179 52.8073 17.7878 53.0519L20.5838 62.0645C20.6537 62.2741 20.6886 62.2741 20.8634 62.2741H31.1386Z"
        fill="#FEF1E5"
    />
    <path
        d="M39.59 6.63403C32.0143 6.63403 25.894 12.6736 25.894 20.2417C25.894 27.8098 32.0143 33.812 39.59 33.812C47.1657 33.812 53.286 27.8098 53.286 20.2417C53.286 12.6736 47.1657 6.63403 39.59 6.63403ZM39.59 21.5465C38.8809 21.5465 38.2838 20.9873 38.2838 20.2417C38.2838 19.5333 38.8809 18.9368 39.59 18.9368C40.299 18.9368 40.8961 19.5333 40.8961 20.2417C40.8961 20.9873 40.299 21.5465 39.59 21.5465Z"
        fill="#FEF1E5"
    />
    <path
        d="M52.5852 30.9014C52.448 31.0776 52.4447 31.2636 52.6503 31.4237L73.4736 47.6308C73.6498 47.7679 73.8587 47.7419 73.9959 47.5657L81.5394 37.8736C81.6765 37.6973 81.6505 37.4884 81.4743 37.3513L74.4548 31.8879L75.0949 31.0656L84.4002 33.5919C84.645 33.641 84.8082 33.6736 84.9911 33.4387L92.7403 23.4823C92.9004 23.2767 92.858 23.1494 92.5022 23.0611L78.8102 19.3843L71.7964 6.94544C71.6235 6.62223 71.4896 6.61239 71.3296 6.81798L63.6032 16.745C63.4204 16.98 63.4921 17.1302 63.5998 17.3554L68.4703 26.0039L67.876 26.7675L60.651 21.1442C60.5041 21.0299 60.2658 21.0331 60.1287 21.2093L52.5852 30.9014Z"
        fill="#FEF1E5"
    />
</svg>
</template>
