<template>
<svg
    width="218"
    height="129"
    viewBox="0 0 218 129"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
>
    <path
        d="M0 82.9016C6.58503 73.6888 12.1322 64.3753 19.1938 56.3954C30.9019 43.1673 43.5537 30.7659 55.8972 18.1046C57.2725 16.778 58.9132 15.7558 60.7118 15.1052C77.2045 8.6987 94.215 3.70727 111.558 0.185158C113.284 -0.150529 115.068 -0.0282709 116.732 0.539701C132.477 6.35699 148.185 12.272 163.857 18.2846C165.248 18.914 166.496 19.8188 167.526 20.9441C176.687 30.0861 185.86 39.2188 194.858 48.52C196.604 50.3267 197.905 52.5147 198.655 54.9103C204.634 75.2785 210.476 95.6864 216.18 116.134C217.251 119.988 217.337 124.113 218 129C209.042 127.959 201.049 127.183 193.105 126.063C186.002 125.063 178.964 123.606 171.872 122.516C169.679 122.178 168.935 121.271 168.721 119.073C168.015 111.823 167.355 104.543 166.055 97.3848C165.176 93.1353 163.764 89.0128 161.855 85.1142C159.845 80.543 157.371 76.1893 154.471 72.1215C151.934 68.6234 148.789 65.6069 145.185 63.2148C133.224 55.6278 120.206 50.875 105.843 50.3212C96.928 49.9782 88.4939 51.5518 80.672 55.9709C80.3494 56.1801 80.0088 56.3602 79.6542 56.5092C63.9851 61.9442 54.9573 73.7173 49.2119 88.4981C48.0553 91.4683 46.5995 92.2082 43.4774 91.556C29.3473 88.6004 15.1625 85.8941 0 82.9016Z"
        fill="#FFCC1A"
    />
</svg>

</template>
