<template>
<svg
    width="24"
    height="24"
    viewBox="0 0 24 24"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
>
    <path
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M7.5 3H16.504C18.987 3 21 5.013 21 7.496V16.505C21 18.987 18.987 21 16.504 21H7.496C5.013 21 3 18.987 3 16.504V7.5C3 5.015 5.015 3 7.5 3V3Z"
        stroke="currentColor"
        stroke-width="1.5"
        stroke-linecap="round"
        stroke-linejoin="round"
    />
    <path
        d="M17.8 10.55C17.8 10.1358 17.4642 9.80005 17.05 9.80005C16.6358 9.80005 16.3 10.1358 16.3 10.55H17.8ZM6.85559 14.9076C6.61124 14.5731 6.14201 14.5001 5.80755 14.7445C5.47309 14.9888 5.40005 15.458 5.64441 15.7925L6.85559 14.9076ZM6.13303 14.6092C5.72388 14.6738 5.44458 15.0579 5.50918 15.467C5.57378 15.8762 5.95783 16.1555 6.36697 16.0909L6.13303 14.6092ZM8.05 14.75L8.28837 15.4612C8.53392 15.3789 8.71963 15.1757 8.77961 14.9237C8.83959 14.6718 8.76534 14.4067 8.58322 14.2226L8.05 14.75ZM7.45 7.55005L8.11062 7.19496C7.98802 6.96689 7.75645 6.81818 7.49805 6.80159C7.23965 6.785 6.99096 6.90288 6.84021 7.1134L7.45 7.55005ZM11.05 10.55L10.8727 11.2788C11.0921 11.3322 11.3239 11.2839 11.5037 11.1473C11.6835 11.0107 11.7922 10.8004 11.7996 10.5747L11.05 10.55ZM16.45 8.75005L15.824 9.16315C15.9628 9.37348 16.198 9.50005 16.45 9.50005V8.75005ZM18.25 8.75005L18.874 9.16607C19.0275 8.93593 19.0418 8.64002 18.9113 8.39616C18.7807 8.15229 18.5266 8.00005 18.25 8.00005V8.75005ZM16.426 10.134C16.1962 10.4787 16.2893 10.9443 16.634 11.1741C16.9786 11.4039 17.4443 11.3107 17.674 10.9661L16.426 10.134ZM16.3 10.55C16.3 12.512 15.7401 14.121 14.7626 15.2288C13.7954 16.325 12.3593 17 10.45 17V18.5C12.7407 18.5 14.6046 17.6751 15.8874 16.2213C17.1599 14.7791 17.8 12.7881 17.8 10.55H16.3ZM10.45 17C9.39463 17 8.7077 16.729 8.19749 16.368C7.66436 15.9907 7.27821 15.4861 6.85559 14.9076L5.64441 15.7925C6.05979 16.361 6.57364 17.0564 7.33101 17.5924C8.1113 18.1446 9.10537 18.5 10.45 18.5V17ZM6.36697 16.0909C6.39335 16.0867 6.41373 16.082 6.42051 16.0804C6.42992 16.0782 6.43748 16.0763 6.44194 16.0751C6.45085 16.0727 6.45799 16.0707 6.46146 16.0697C6.46891 16.0675 6.47537 16.0655 6.47894 16.0644C6.48681 16.062 6.49542 16.0592 6.50327 16.0567C6.51958 16.0514 6.54143 16.0443 6.56708 16.0359C6.61878 16.0189 6.69084 15.995 6.77585 15.9667C6.9461 15.9101 7.17099 15.8351 7.39489 15.7602C7.61889 15.6854 7.84225 15.6106 8.00959 15.5546C8.09327 15.5265 8.16295 15.5032 8.21172 15.4868C8.2361 15.4787 8.25526 15.4723 8.26832 15.4679C8.27485 15.4657 8.27986 15.464 8.28324 15.4629C8.28493 15.4623 8.28621 15.4619 8.28707 15.4616C8.2875 15.4615 8.28782 15.4613 8.28804 15.4613C8.28815 15.4612 8.28823 15.4612 8.28828 15.4612C8.28831 15.4612 8.28833 15.4612 8.28835 15.4612C8.28836 15.4612 8.28837 15.4612 8.05 14.75C7.81163 14.0389 7.81163 14.0389 7.81161 14.0389C7.8116 14.0389 7.81158 14.039 7.81155 14.039C7.8115 14.039 7.81142 14.039 7.81131 14.039C7.8111 14.0391 7.81078 14.0392 7.81035 14.0394C7.8095 14.0397 7.80822 14.0401 7.80654 14.0406C7.80318 14.0418 7.79818 14.0434 7.79167 14.0456C7.77863 14.05 7.75951 14.0564 7.73515 14.0646C7.68645 14.0809 7.61684 14.1042 7.53325 14.1322C7.36606 14.1882 7.14299 14.2629 6.91936 14.3376C6.69564 14.4124 6.47171 14.4871 6.30268 14.5433C6.21805 14.5715 6.14785 14.5947 6.09852 14.6109C6.07365 14.6191 6.05529 14.6251 6.04342 14.6289C6.03718 14.6309 6.03471 14.6317 6.03473 14.6317C6.0349 14.6317 6.03561 14.6314 6.03673 14.6311C6.03774 14.6308 6.03992 14.6301 6.04287 14.6293C6.0452 14.6286 6.05141 14.6268 6.0596 14.6246C6.06369 14.6236 6.07094 14.6217 6.0801 14.6196C6.08662 14.618 6.10679 14.6134 6.13303 14.6092L6.36697 16.0909ZM8.58322 14.2226C6.84139 12.4617 6.71219 9.86865 8.05979 7.98669L6.84021 7.1134C5.07581 9.57745 5.25061 12.9864 7.51678 15.2775L8.58322 14.2226ZM6.78938 7.90514C7.60057 9.41429 9.1313 10.8552 10.8727 11.2788L11.2273 9.8213C10.0007 9.52292 8.77543 8.43181 8.11062 7.19496L6.78938 7.90514ZM11.7996 10.5747C11.8227 9.8724 12.0694 9.30829 12.4448 8.92476C12.8161 8.5453 13.3541 8.30005 14.05 8.30005V6.80005C12.9789 6.80005 12.0454 7.1883 11.3727 7.87559C10.7041 8.55881 10.3343 9.4947 10.3004 10.5254L11.7996 10.5747ZM14.05 8.30005C14.5545 8.30005 14.9057 8.39566 15.1646 8.53381C15.4218 8.67114 15.6339 8.87504 15.824 9.16315L17.076 8.33695C16.7771 7.88405 16.3907 7.48796 15.8709 7.21053C15.3528 6.93394 14.7485 6.80005 14.05 6.80005V8.30005ZM16.45 9.50005H18.25V8.00005H16.45V9.50005ZM17.626 8.33402L16.426 10.134L17.674 10.9661L18.874 9.16607L17.626 8.33402Z"
        fill="currentColor"
    />
</svg>
</template>
