<template>
<!-- 綠色 三角 -->
<svg
    width="141"
    viewBox="0 0 141 153"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
>
    <path
        d="M32.419 152.1C17.396 102.094 11.943 50.622 0 0C48.794 3.377 93.182 22.131 140.25 34.25C137.65 38.009 135.959 40.85 133.895 43.393C121.313 58.893 108.595 74.278 96.035 89.793C90.814 96.24 85.969 102.993 80.741 109.434C77.9925 112.931 74.9392 116.177 71.617 119.134C60.14 129.008 48.463 138.649 36.862 148.379C35.483 149.535 34.104 150.694 32.419 152.1Z"
        fill="#006B54"
    />
</svg>

</template>
