<template>
<svg
    width="325"
    height="269"
    viewBox="0 0 325 269"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
>
    <path
        d="M77.8024 126.452C80.2474 125.279 82.641 123.982 85.1474 122.957C92.6409 119.888 100.144 116.84 107.706 113.944C115.712 110.878 120.381 104.441 122.852 96.979C126.42 86.2107 135.085 80.2353 142.317 72.6289C150.578 63.9384 160.109 63.9329 170.279 66.0043C178.447 67.6672 184.873 65.5691 189.899 59.077C193.087 54.96 196.757 51.0408 199.068 46.4569C203.781 37.1051 211.219 30.3954 218.864 23.7233C226.067 17.4383 233.703 11.5357 240.184 4.56755C246.614 -2.34577 262.287 -0.10144 267.104 5.73214C268.175 7.24927 268.967 8.94577 269.441 10.7415C270.535 14.0197 271.129 17.4996 272.533 20.6245C273.456 22.2923 274.945 23.576 276.73 24.2452C279.405 25.2728 282.343 25.6307 285.181 26.2118C293.18 27.8496 296.74 33.148 294.757 41.1693C293.588 45.9046 292.79 50.3151 294.974 55.0969C296.892 59.2913 299.716 61.9169 304.159 61.7907C314.131 61.5088 318.853 68.2959 323.084 75.5104C325.064 78.8888 325.009 82.5235 321.501 85.672C317.415 89.3402 314.16 94.022 309.806 97.2742C306.492 99.7533 302.558 101.267 298.437 101.649C286.436 102.375 278.404 108.344 274.286 119.128C271.536 126.324 266.022 130.788 261.056 135.989C250.887 146.639 238.422 152.634 224.079 155.258C218.446 156.29 215.301 160.582 212.8 165.311C211.214 168.243 209.777 171.253 208.495 174.329C205.516 181.677 200.339 187.198 194.293 192.068C187.973 197.158 181.708 202.315 175.377 207.392C174.262 208.287 173.032 209.341 171.707 209.621C162.145 211.645 153.06 215.919 142.846 215.015C138.94 214.669 134.832 215.908 130.897 216.792C126.845 217.7 124.088 220.411 122.241 224.121C117.129 234.392 110.225 243.183 100.727 249.777C99.4442 250.712 98.0722 251.518 96.6312 252.183C84.6737 257.372 72.59 262.287 60.7661 267.762C56.6876 269.651 54.1182 268.51 51.6853 265.639C47.4065 260.47 44.8128 254.116 44.2531 247.429C43.4265 239.564 42.2636 237.836 34.72 235.395C18.9435 230.286 17.3308 227.888 18.1399 210.993C18.4692 204.116 15.4074 199.045 9.68813 195.4C5.14861 192.508 1.53355 188.988 0.883574 183.185C0.2018 177.106 1.32423 175.554 6.83021 172.997C15.1516 169.132 23.8005 168.046 32.8774 167.841C45.8338 167.546 54.2738 159.402 60.1796 148.993C64.9645 140.536 70.0889 132.684 77.8024 126.452Z"
        fill="#CBB6F2"
    />
</svg>

</template>
