<template>
<!-- 藍色 菱形 -->
<svg
    width="101"
    viewBox="0 0 101 100"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
>
    <path
        d="M0.349854 0C18.8667 5.7426 37.4797 5.89943 53.7916 14.7329C56.0274 15.8505 58.0823 17.3037 59.8861 19.0429C68.0018 27.4883 75.9784 36.0716 83.9165 44.6905C85.1585 45.9896 86.0981 47.5515 86.6671 49.2626C91.0778 64.2386 95.3995 79.2425 99.6324 94.2742C100.924 98.8463 99.7634 99.9066 95.0045 99.1977C78.5784 96.7499 64.4619 88.7489 50.4656 80.4481C46.8414 78.2984 43.3428 75.9152 39.6298 73.9393C34.5083 71.1626 30.2342 67.0294 27.2678 61.9846C20.2608 50.4175 12.8996 38.9511 7.24772 26.7083C3.59324 18.7953 2.70715 9.58493 0.349854 0Z"
        fill="#1B66CE"
    />
</svg>
</template>
