<template>
<svg
    width="100%"
    height="100%"
    viewBox="0 0 659 678"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
>
    <path
        d="M3.47026 347.98L3.47022 347.981C-0.333791 380.063 7.25463 405.396 22.6458 425.897C37.5479 445.746 59.6407 460.903 85.3193 473.373C64.1413 520.998 86.8145 561.892 115.269 593.869C132.877 613.659 154.14 619.648 176.336 619.918C192.419 620.113 209.242 617.287 225.552 614.548C230.88 613.653 236.153 612.768 241.328 611.999C259.103 651.288 294.688 673.023 333.207 675.139C371.84 677.262 413.307 659.661 442.796 620.597C486.489 631.794 513.014 634.723 533.375 627.697C554.07 620.556 567.887 603.299 586.852 576.167C602.157 554.273 608.834 531.539 608.171 508.187C607.536 485.801 600.161 462.998 587.432 439.951C611.022 433.539 626.585 420.669 636.939 403.9C647.688 386.492 652.739 365.021 655.604 342.588C658.89 316.87 652.914 296.112 641.369 278.729C630.196 261.907 613.875 248.345 595.981 236.456C624.47 138.462 549.073 49.2171 451.736 67.3587C432.884 26.6414 399.959 0.491196 354.031 2.62082C332.457 3.62117 312.538 9.14049 295.909 20.1441C279.759 30.8314 266.843 46.6083 258.54 68.1424C198.48 56.1326 146.627 69.3633 113.587 99.4353C80.5954 129.464 66.7458 175.947 81.9148 229.68C52.6357 238.114 34.5295 254.646 23.0349 275.46C11.2927 296.722 6.51401 322.339 3.47026 347.98Z"
        fill="currentColor"
    ></path>
</svg>
</template>
