<template>
<svg
    width="185"
    viewBox="0 0 185 194"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
>
    <path
        d="M146.96 193.769C134.387 185.65 121.086 178.939 110.007 169.562C72.821 138.091 33.9631 108.459 0.41577 72.3237C11.6006 67.6572 22.5229 63.5759 33.0268 58.6056C48.2193 51.4165 62.7219 42.6192 78.2328 36.2747C96.7493 28.6944 116.007 22.9519 134.968 16.4846C151.193 10.9504 167.452 5.51829 183.731 0.029318C190.477 26.6131 164.985 161.451 146.96 193.769Z"
        fill="#FFA4BC"
    />
</svg>

</template>
