<template>
<!-- 太陽 -->
<svg
    width="296"
    viewBox="0 0 296 287"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
>
    <path
        d="M87.87 87.7263C81.775 66.1746 75.9449 45.535 70.104 24.8943L71.3822 23.9779C90.6591 37.2959 109.584 51.0366 125.491 69.8573C131.035 45.7045 136.281 22.8501 141.527 0L144.086 0.0161119C148.872 22.1269 153.658 44.2387 158.624 67.1758L213.419 17.9075L215.396 19.0686C210.121 42.1945 203.887 65.0736 196.284 88.3272L257.72 70.5957L258.558 71.7363C247.217 88.9242 235.869 106.12 224.514 123.323C244.052 130.458 275.952 134.295 296 137.874C275.238 147.147 240.042 153.99 217.417 160.396C231.786 178.766 251.358 192.836 258.121 216.319L204.88 204.034C210.898 226.473 216.986 249.178 223.076 271.884L221.057 273.285C211.641 266.573 202.119 260.004 192.84 253.105C183.421 246.103 174.245 238.773 164.946 231.573C158.651 250.394 152.529 268.702 146.406 287L145.018 286.991C138.886 267.912 132.753 248.833 126.475 229.302L67.7954 274.698C70.2617 251.771 74.6892 230.721 82.7229 209.356C62.6537 217.377 62.9196 216.046 14.2702 235.2C28.2038 217.577 46.3932 184.817 60.1863 167.371L0 146.049L62.0049 125.716C45.9204 109.041 32.1166 91.5218 23.4288 69.0837L87.87 87.7263Z"
        fill="#FFCC1A"
    />
</svg>

</template>
