
<template>
<div class="client-work py-10 sm:py-16 border-b-3 border-black">
    <div class="bg-1 max-sm:hidden">
        <img src="~@/assets/okmicah/pattern/icon-pattern-pink.svg" />
        <img
            class="absolute w-4/6 left-0 bottom-0"
            src="~@/assets/okmicah/pattern/icon-pattern-yellow.svg"
        />
    </div>
    <div class="bg-2 max-sm:hidden">
        <img
            class="absolute w-2/6 right-0"
            src="~@/assets/okmicah/pattern/icon-pattern-green.svg"
        />
        <img src="~@/assets/okmicah/pattern/icon-pattern-blue.svg" />
    </div>
    <h2 class="relative z-10 g-font-title uppercase text-lg sm:text-2xl font-bold pb-8 sm:pb-12 text-center tracking-wide">Our client werk has been featured in</h2>
    <marquee class="relative z-10">
        <img
            v-for="(item, i) in images"
            :key="i * 100"
            :src="item[0]"
            :alt="item[1]"
            class="inline-block mr-20 w-36 sm:w-40"
        />
    </marquee>
</div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'
import ImageBYTDIE from '@/assets/okmicah/client-work/icon-client-logo-0.svg'
import ImageBRITCO from '@/assets/okmicah/client-work/icon-client-logo-1.svg'
import ImagePAPER from '@/assets/okmicah/client-work/icon-client-logo-2.svg'
import ImageHUFFPOST from '@/assets/okmicah/client-work/icon-client-logo-3.svg'
import ImageESSENCE from '@/assets/okmicah/client-work/icon-client-logo-4.svg'
import ImageInStyle from '@/assets/okmicah/client-work/icon-client-logo-5.svg'
import ImageVOGUE from '@/assets/okmicah/client-work/icon-client-logo-6.svg'
import ImageAllure from '@/assets/okmicah/client-work/icon-client-logo-7.svg'
import ImageTeenVOGUE from '@/assets/okmicah/client-work/icon-client-logo-8.svg'
import ImageMensHealth from '@/assets/okmicah/client-work/icon-client-logo-9.svg'

@Component
export default class ClientWork extends Vue {
  public images: [string, string][] = [
    [
      ImageBYTDIE,
      'BYTDIE'
    ],
    [
      ImageBRITCO,
      'BRITCO'
    ],
    [
      ImagePAPER,
      'PAPER'
    ],
    [
      ImageHUFFPOST,
      'HUFFPOST'
    ],
    [
      ImageESSENCE,
      'ESSENCE'
    ],
    [
      ImageInStyle,
      'InStyle'
    ],
    [
      ImageVOGUE,
      'VOGUE'
    ],
    [
      ImageAllure,
      'allure'
    ],
    [
      ImageTeenVOGUE,
      'teenVOGUE'
    ],
    [
      ImageMensHealth,
      'MensHealth'
    ]
  ];
}
</script>

<style lang="postcss" scoped>
.client-work {
  background-color: var(--color-purple);
  position: relative;
}
.bg-1 {
  position: absolute;
  z-index: 1;
  left: 0;
  bottom: 0;
}

.bg-2 {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
}
</style>
