<template>
<div class="horizontal-social text-center border-b-3 border-black">
    <div class="pb-6">
        <HeadingNormal bgColor="green">
            let us blow up your feeds
        </HeadingNormal>
    </div>

    <div class="overflow-hidden flex sm:pb-14">
        <div class="horizontal-social__marquee py-8 flex">
            <div
                class="horizontal-social__item w-48 xl:w-72 flex-shrink-0 mr-8"
                v-for="(image, i) in images"
                :key="image.src + i"
            >
                <img
                    :src="image.src"
                    :alt="image.alt"
                    loading="lazy"
                    sizes="(max-width: 479px) 198.3984375px, (max-width: 767px) 40vw, 198.3984375px"
                    class="horizontal-social__img border-3 border-black rounded-3xl hover:border-white transition"
                />
            </div>
        </div>
    </div>

    <div class="max-md:hidden md:flex md:justify-around md:gap-5 2xl:container 2xl:m-auto g-container-padding">
        <LinkButton
            styleMode="down-block"
            class="uppercase"
        >instagram</LinkButton>
        <LinkButton
            styleMode="down-block"
            class="uppercase"
        >tiktok</LinkButton>
        <LinkButton
            styleMode="down-block"
            class="uppercase"
        >pinterest</LinkButton>
    </div>

</div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'
import Img25 from '@/assets/okmicah/art/img-art-25.png'
import Img26 from '@/assets/okmicah/art/img-art-26.png'
import Img27 from '@/assets/okmicah/art/img-art-27.png'
import Img28 from '@/assets/okmicah/art/img-art-28.png'
import Img29 from '@/assets/okmicah/art/img-art-29.png'
import Img30 from '@/assets/okmicah/art/img-art-30.png'
import Img31 from '@/assets/okmicah/art/img-art-31.png'
import Img32 from '@/assets/okmicah/art/img-art-32.png'
import Img33 from '@/assets/okmicah/art/img-art-33.png'
import Img34 from '@/assets/okmicah/art/img-art-34.png'

import LinkButton from '@/views/Okmicah/components/LinkButton.vue'
import HeadingNormal from '@/views/Okmicah/components/HeadingNormal.vue'

@Component({
  components: {
    LinkButton,
    HeadingNormal
  }
})
export default class HorizontalSocial extends Vue {
  public img =Img25;
  public images = [
    {
      src: Img25,
      alt: 'A person wearing a dress that says: my pronouns are he, him, they, them'
    },
    {
      src: Img26,
      alt: ''
    },
    {
      src: Img27,
      alt: 'A pink headboard with a candle and books on it'
    },
    {
      src: Img28,
      alt: ''
    },
    {
      src: Img29,
      alt: 'A portrait of Micah wearing blue sunglasses sitting in a bed of flowers'
    },
    {
      src: Img30,
      alt: ''
    },
    {
      src: Img31,
      alt: 'A plate of sliced grapefruit'
    },
    {
      src: Img32,
      alt: 'A moodboard of green photos'
    },
    {
      src: Img33,
      alt: 'A picture of Santa Monica beach'
    },
    {
      src: Img34,
      alt: 'A picture of a man telling a dog to sit'
    }
  ]

  public created ():void {
    this.images = [...this.images, ...this.images]
  }
}
</script>

<style lang="postcss" scoped>
.horizontal-social {
  &:before {
    content: '';
    background-image: url('~@/assets/okmicah/pattern/icon-waves.svg');
    background-position: center top;
    background-size: 100vw;
    background-repeat: no-repeat;
    display: block;
    padding-bottom: 12%;
  }
  &:after {
    content: '';
    background-image: url('~@/assets/okmicah/pattern/icon-waves.svg');
    background-position: center top;
    background-size: 100vw;
    background-repeat: no-repeat;
    display: block;
    padding-bottom: 12%;
    transform: rotate(180deg) translateY(-1px);
  }
}
.horizontal-social__marquee {
  animation: marquee 60s linear infinite;
  &:hover {
    animation-play-state: paused;
  }
}

@keyframes marquee {
  0%{
    transform: translate(0);
  }
  100%{
    transform: translate(-50%);
  }
}
</style>
