<template>
<div class="okmicah-main h-full min-h-screen flex flex-col">
    <Banner />
    <Introduce />
    <ClientWork />
    <SubscriptionForm />
    <IntroduceValue />
    <Impression />
    <HorizontalSocial />
</div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'
import Banner from '@/views/Okmicah/views/Main/Banner.vue'
import Introduce from './Introduce.vue'
import ClientWork from './ClientWork.vue'
import SubscriptionForm from './SubscriptionForm.vue'
import IntroduceValue from './IntroduceValue.vue'
import Impression from '@/views/Okmicah/components/Impression.vue'
import HorizontalSocial from './HorizontalSocial.vue'

@Component({
  components: {
    Banner,
    Introduce,
    ClientWork,
    SubscriptionForm,
    IntroduceValue,
    Impression,
    HorizontalSocial
  }
})
export default class Okmicah extends Vue {
}
</script>

<style lang="postcss" scoped>
>>> .impression {
  background-color: var(--color-yellow);
}
</style>
