<template>
<div class="introduce flex">
    <KinesisContainer
        :duration="500"
        class="hidden w-2/5 relative overflow-hidden lg:flex items-center justify-center border-b-3 border-black"
    >
        <img
            src="~@/assets/okmicah/art/img-art-3.png"
            class="w-80 border-3 border-black rounded-3xl z-10"
        />
        <KinesisPattern></KinesisPattern>
    </KinesisContainer>

    <div class="w-full lg:w-3/5 flex flex-wrap">
        <div  class="sm:flex w-full sm:border-b-3 border-black">
            <router-link
                :to="{name: 'OkmicahServices'}"
                class="item item-bg-purple flex-1 flex items-end p-6 sm:w-2/4 border-black sm:h-full max-sm:border-b-3 sm:border-l-3"
                style="min-height: 20em;"
            >
                <IconFlowers0  class="pattern yellow" />
                <ItemView
                    title="Websites"
                    link="view custom packages"
                    class="green z-10"
                >
                    <p>Custom-built websites that push design boundaries and make straight people cry... in a good way!</p>
                </ItemView>
            </router-link>
            <router-link
                :to="{name: 'OkmicahServices'}"
                class="item item-bg-blue flex-1 flex items-end  p-6 group sm:w-2/4 border-black sm:h-full max-sm:border-b-3 sm:border-l-3"
                style="min-height: 20em;"
            >
                <IconFlowers0  class="pattern purple" />
                <ItemView
                    title="Branding"
                    class="pink z-10"
                >
                    <p class="group-hover:text-white">Support the gay agenda by giving your business a personality as iconic as <br> Ms. Dolly Parton.</p>
                    <template #link>
                        <div class="underline group-hover:text-white">view custom packages</div>
                    </template>
                </ItemView>
            </router-link>
        </div>
        <div class="sm:flex w-full sm:border-b-3 border-black">
            <router-link
                :to="{name: 'OkmicahServices'}"
                class="item item-bg-yellow flex-1 flex items-end p-6 sm:w-2/4 border-black sm:h-full max-sm:border-b-3 sm:border-l-3"
                style="min-height: 20em;"
            >
                <IconFlowers0  class="pattern pink" />
                <ItemView
                    title="Templates"
                    link="coming soon"
                    class="red z-10"
                >
                    <p>Want a quality site but don’t have the time? Don’t spill your iced coffee, Judy––the OK Market will be open in July.</p>
                </ItemView>
            </router-link>
            <router-link
                :to="{name: 'OkmicahServices'}"
                class="item item-bg-pink flex-1 flex items-end p-6 sm:w-2/4 border-black sm:h-full max-sm:border-b-3 sm:border-l-3"
                style="min-height: 20em;"
            >
                <IconFlowers0  class="pattern green" />
                <ItemView
                    title="Development"
                    link="check out our rates"
                    class="blue z-10"
                >
                    <p>Is building too butch for you? Hand over those designs and we’ll do all the hard work for you. You're welcome.<br></p>
                </ItemView>
            </router-link>
        </div>
    </div>
</div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'
import ItemView from '@/views/Okmicah/components/ItemView.vue'
import KinesisPattern from '@/views/Okmicah/components/KinesisPattern.vue'
import { KinesisContainer } from 'vue-kinesis'
import IconFlowers0 from '@/views/Okmicah/components/Icons/IconFlowers0.vue'

@Component({
  components: {
    KinesisContainer,
    KinesisPattern,
    ItemView,
    IconFlowers0
  }
})
export default class Introduce extends Vue {
}
</script>

<style lang="postcss" scoped>
.item {
  overflow: hidden;
  position: relative;
  &:hover{
    &:after,
    &:before {
      visibility: visible;
    }
    .pattern {
      visibility: visible;
      animation: goRotate 6s linear infinite;
      stroke-width: 0;
      stroke-dashoffset: 0;
    }
  }
}
.item::after {
  content: '';
  display: inline-block;
  position: absolute;
  top:0;
  right:0;
  bottom: 0;
  left: 0;
  visibility: hidden;
}

.item-bg-purple:after {
  background-color: var(--color-purple);
}

.item-bg-blue:after {
  background-color: var(--color-blue);
}

.item-bg-yellow:after {
  background-color: var(--color-yellow);
}

.item-bg-pink:after {
  background-color: var(--color-pink);
}

.pattern {
  display: inline-block;
  position: absolute;
  top:0;
  left: 50%;
  width: 100%;
  z-index: 2;
  transform-origin: top;
  visibility: hidden;
}

@keyframes goRotate {
  0% {
    transform: rotate(0) translateY(-50%);
  }
  100% {
    transform: rotate(360deg) translateY(-50%);
  }
}
</style>
