<template>
<section class="introduce-value lg:flex">
    <OurValue class="lg:w-2/4 border-b-3 border-black text-center"></OurValue>
    <div class="px-2 md:px-32 py-16 lg:w-2/4 lg:py-14 text-center border-b-3 lg:border-l-3 border-black flex flex-col justify-center">
        <img
            class="introduce-value__image border-3 border-black mb-16 w-96 mx-auto"
            src="~@/assets/okmicah/art/img-art-1.png"
        />
        <div>
            <LinkButton
                :to="{name: 'OkmicahOurStory'}"
                styleMode="down-block"
            >read our story</LinkButton>
        </div>
    </div>
</section>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'
import LinkButton from '@/views/Okmicah/components/LinkButton.vue'
import OurValue from '@/views/Okmicah/components/OurValue.vue'
@Component({
  components: {
    LinkButton,
    OurValue
  }
})
export default class IntroduceValue extends Vue {
}
</script>
<style lang="postcss" scoped>
.introduce-value__image {
  border-radius: 3rem;
}
>>> .our-value__title {
  @apply uppercase underline text-3xl pt-12 pb-4
}
>>> .our-value__item {
  @apply text-6xl sm:text-7xl p-2 pt-7 text-center flex justify-center items-center cursor-default;
}

</style>
