<template>
<section class="py-20 g-container-padding border-b-3 border-black">
    <SectionItem
        class="py-16 2xl:container 2xl:m-auto g-container-padding"
    >
        <template #title>
            <HeadingNormal>
                What's the Tea, henny?
            </HeadingNormal>
        </template>
        <div class="max-w-2xl px-4 sm:max-w-3xl xl:max-w-5xl m-auto">
            <p class="xl:text-xl">Wanna know when we’re taking on new clients, launching new services, or offering discounts?</p>
            <p class="xl:text-xl">Sign up for our email list so you can always be up to date on our most recent service offerings and availability.</p>
            <div class="pt-10 flex flex-col gap-3 lg:gap-7 lg:flex-row lg:items-center">
                <input
                    class="w-full sm:w-2/4 mx-auto text-lg pt-2 pb-1 px-3 xl:text-xl xl:pb-2 xl:pt-3 border-3 border-black rounded-2lg bg-transparent placeholder-black max-lg:text-center"
                    type="text"
                    name="text"
                    placeholder="First Name"
                >
                <input
                    class="w-full sm:w-2/4 mx-auto text-lg pt-2 pb-1 px-3 xl:text-xl xl:pb-2 xl:pt-3 border-3 border-black rounded-2lg bg-transparent placeholder-black max-lg:text-center"
                    type="email"
                    name="email"
                    placeholder="Email Address"
                >
                <LinkButton
                    class="mb-2"
                    styleMode="down-block"
                >SUBMIT</LinkButton>
            </div>
        </div>

    </SectionItem>
</section>

</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'
import LinkButton from '@/views/Okmicah/components/LinkButton.vue'
import SectionItem from '@/views/Okmicah/components/SectionItem.vue'
import HeadingNormal from '@/views/Okmicah/components/HeadingNormal.vue'

@Component({
  components: {
    LinkButton,
    SectionItem,
    HeadingNormal
  }
})
export default class SubscriptionForm extends Vue {
}
</script>

<style lang="postcss" scoped>
.subscription-input {
  &:focus {
    border-color: var(--color-blue);
  }
}

</style>
