<template>
<div id="app">
    <router-view />
</div>
</template>

<script lang="ts">
// import Watermark from '@/components/Watermark'

export default {
  name: 'App',
  components: {
    // Watermark
  }
}
</script>

<style lang="scss">
@import '@/styles/index.scss';

</style>
